files:
    /etc/nginx/conf.d/redirects/07.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3413
            rewrite ^/medication-and-behavioral-therapy-for-addiction-treatment/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/legalizing-pot/?$ https://$host/alcohol-abuse/how-to-identify-an-alcoholic/ permanent;
            rewrite ^/lsd-addiction-and-dependence/?$ https://$host/heroin/ permanent;
            rewrite ^/alcohol-liver-disease-explained/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-ii-dangerous-locations/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/the-real-war-on-drugs/?$ https://$host/alcohol-abuse/ permanent;
    /etc/nginx/conf.d/redirects/08.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3413
            rewrite ^/important-us-acts-governing-drugs-and-substance-abuse/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/reality-therapy-for-inpatient-drug-rehab/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/drug-rehab-in-florida-the-miami-cocaine-trade/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/rogers-clemens-returns-to-court-on-drug-charges/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-debate-on-internet-addiction-disorder/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/treating-addiction-with-co-occurring-conditions/?$ https://$host/marijuana/ permanent;
            rewrite ^/marijuana-more-popular-among-teens-than-cigarettes/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-death-of-whitney-houston-was-it-drug-or-alcohol-related/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-a-f/?$ https://$host/heroin/ permanent;
            rewrite ^/clinical-rehab-for-heroin-addiction/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-a-pavlovian-response-to-drugs-and-alcohol/?$ https://$host/prescription-opioids/oxycontin/ permanent;
            rewrite ^/managing-alcoholism-with-lifesynch-insurance-for-rehab/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/treatment-for-non-drug-addictions/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/treating-prescription-drug-addiction-with-lifesynch-insurance-for-rehab/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/keeping-your-job-with-compsych-insurance-for-rehab/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/dealing-with-addictive-personalities-during-inpatient-drug-treatment/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/painkiller-deaths-on-the-rise/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/us-drug-control-policy/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/drug-rehab-for-celebrities-is-it-legitimate/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/daily-life-in-a-residential-inpatient-substance-abuse-treatment-center/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/how-addiction-probably-killed-amy-winehouse/?$ https://$host/suboxone-abuse/ permanent;
            rewrite ^/drug-addiction-treatment-and-suboxone/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/club-drug-addictions-a-new-generation-of-addicts/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/bipolar-disorder-and-addiction/?$ https://$host/drug-abuse/bath-salts/ permanent;
            rewrite ^/bath-salt-abuse-increasing/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/indoor-marijuana-grow-operations-on-the-rise/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/how-drug-rehab-can-help-military-veterans/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drugs-the-dangers/?$ https://$host/prescription-opioids/oxycontin/ permanent;
            rewrite ^/finding-relief-from-oxycontin-addiction/?$ https://$host/detox/methadone/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/drug-rehab-getting-help-for-an-elderly-addict/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-early-history-of-cocaine/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/are-you-covered-by-blue-cross-substance-abuse-insurance/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/how-drinking-games-culture-can-lead-to-alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/what-you-can-expect-from-alcohol-addiction-treatment/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-symptoms-and-effects-of-marijuana-dependence/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-importance-of-quality-sleep-for-drug-rehab/?$ https://$host/addiction-blog/ permanent;
    /etc/nginx/conf.d/redirects/09.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###

