files:
    /etc/nginx/conf.d/redirects/05.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/blog/brain-changes-young-marijuana-users/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/indoor-marijuana-grow-operations-on-the-rise/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/exploring-the-addictiveness-of-marijuana/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/heiress-donates-to-fight-medical-marijuana-in-florida/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/florida-pay-for-marijuana-research/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/the-symptoms-and-effects-of-marijuana-dependence/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/marijuana-more-popular-among-teens-than-cigarettes/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/children-and-marijuana/?$ https://$host/marijuana/ permanent;
            rewrite ^/blog/colorado-to-allow-recreational-marijuana-use/?$ https://$host/marijuana/ permanent;
            rewrite ^/hallucinogens/how-long-is-dmt-stay-in-system/?$ https://$host/hallucinogens/DMT-abuse/ permanent;
            rewrite ^/hallucinogens/what-are-the-side-effects-of-lsd/?$ https://$host/hallucinogens/LSD-abuse/ permanent;
            rewrite ^/blog/hallucinogens-addiction/?$ https://$host/hallucinogens/ permanent;
            rewrite ^/blog/ecstasy-making-a-comeback/?$ https://$host/hallucinogens/ permanent;
            rewrite ^/blog/lsd-addiction-and-dependence/?$ https://$host/hallucinogens/ permanent;
            rewrite ^/blog/the-history-of-lsd/?$ https://$host/hallucinogens/ permanent;
            rewrite ^/drug-abuse/what-are-opiates/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/drug-abuse/most-addictive-opioids/?$ https://$host/prescription-opioids/most-addictive/ permanent;
            rewrite ^/prescription-abuse/hydrocodone/?$ https://$host/prescription-opioids/hydrocodone/ permanent;
            rewrite ^/prescription-abuse/hydrocodone/finding-help/?$ https://$host/prescription-opioids/hydrocodone/addiction/ permanent;
            rewrite ^/prescription-abuse/hydrocodone/snorting/?$ https://$host/prescription-opioids/hydrocodone/vicodin-snorting/ permanent;
            rewrite ^/prescription-abuse/hydrocodone/the-same-as-vicodin/?$ https://$host/prescription-opioids/hydrocodone/vicodin/ permanent;
            rewrite ^/prescription-abuse/vicodin-vs-percocet/?$ https://$host/prescription-opioids/hydrocodone/vicodin-vs-percocet/ permanent;
            rewrite ^/oxycontin/?$ https://$host/prescription-opioids/oxycontin/ permanent;
            rewrite ^/oxycontin/addiction-and-side-effects/?$ https://$host/prescription-opioids/oxycontin/side-effects/ permanent;
            rewrite ^/prescription-abuse/hydromorphone/?$ https://$host/prescription-opioids/hydromorphone/ permanent;
            rewrite ^/prescription-abuse/hydromorphone/snorting-dilaudid/?$ https://$host/prescription-opioids/hydromorphone/snorting-dilaudid/ permanent;
            rewrite ^/codeine-abuse/?$ https://$host/prescription-opioids/codeine/ permanent;
            rewrite ^/codeine-abuse/and-alcohol/?$ https://$host/prescription-opioids/codeine/mix-with-alcohol/ permanent;
            rewrite ^/prescription-abuse/what-is-kadian/?$ https://$host/prescription-opioids/morphine/ permanent;
            rewrite ^/prescription-abuse/what-is-tramadol/?$ https://$host/prescription-opioids/tramadol/ permanent;
            rewrite ^/drug-abuse/opioid-overdose/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/what-is-opana-oxymorphone/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/what-is-opana-oxymorphone/detox-and-withdrawal/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/what-is-opana-oxymorphone/side-effects/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/what-is-opana-oxymorphone/how-long-in-system/?$ https://$host/prescription-opioids/ permanent;
            rewrite ^/prescription-abuse/ritalin/?$ https://$host/prescription-stimulants/ritalin/ permanent;
            rewrite ^/prescription-abuse/ritalin/am-i-addicted/?$ https://$host/prescription-stimulants/ritalin/addiction/ permanent;
            rewrite ^/prescription-abuse/ritalin/signs-of-abuse/?$ https://$host/prescription-stimulants/ritalin/abuse/ permanent;
            rewrite ^/prescription-abuse/adderall/?$ https://$host/prescription-stimulants/adderall/ permanent;
            rewrite ^/prescription-abuse/adderall/signs-of-abuse/?$ https://$host/prescription-stimulants/adderall/signs-of-abuse/ permanent;
            rewrite ^/prescription-abuse/adderall/side-effects/?$ https://$host/prescription-stimulants/adderall/side-effects/ permanent;
            rewrite ^/prescription-abuse/adderall/smoking-or-snorting/?$ https://$host/prescription-stimulants/methods-of-use/ permanent;
            rewrite ^/prescription-abuse/adderall/dangers-of-snorting/?$ https://$host/prescription-stimulants/methods-of-use/ permanent;
            #FACILITY-2393
            rewrite ^/blog/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/blog/success-rates-of-recovery-from-addiction/?$ https://$host/addiction-blog/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            #FACILITY-3426
            rewrite ^/addiction-treatment-florida/payment-options/coventry/?$ https://$host/blog/aetna-insurance-for-rehab-explained/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###
