files:
    /etc/nginx/conf.d/redirects/05.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3221
            rewrite ^/inpatient-vs-outpatient-drug-treatment.html/?$ https://$host/blog/inpatient-vs-outpatient-drug-treatment/ permanent;
            rewrite ^/inpatient-treatment.html/?$ https://$host/blog/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/how-do-i-pay-for-drug-addiction-treatment.html/?$ https://$host/addiction-treatment-florida/payment-options/ permanent;
            rewrite ^/florida-drug-rehab-center.html/?$ https://$host/ permanent;
            #FACILITY-3413
            rewrite ^/burning-brain-tissue-a-cure-for-drug-addiction.html/?$ https://$host/blog/burning-brain-tissue-a-cure-for-drug-addiction/ permanent;
            rewrite ^/blue-crossblue-shield-insurance-for-rehab.html/?$ https://$host/ permanent;
            rewrite ^/bath-salt-abuse-increasing.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/babies-who-are-born-addicted-to-drugs.html/?$ https://$host/blog/babies-who-are-born-addicted-to-drugs/ permanent;
            rewrite ^/aw-drug-rehab/?$ https://$host/ permanent;
            rewrite ^/aw-drug-rehab-2.html/?$ https://$host/ permanent;
            rewrite ^/aw-alcohol-rehab/?$ https://$host/ permanent;
            rewrite ^/ask-question.html/?$ https://$host/contact/ permanent;
            rewrite ^/are-us-school-shootings-drug-fueled.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/all-about-aetna-substance-abuse-insurance.html/?$ https://$host/blog/all-about-aetna-substance-abuse-insurance/ permanent;
            rewrite ^/alcoholism-relapse-abstaining-during-the-holidays.html/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/alcoholism-in-the-armed-forces.html/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/alcoholism-cirrhosis-of-the-liver-explained.html/?$ https://$host/alcohol-abuse/physical-effects/ permanent;
            rewrite ^/alcoholism-among-the-elderly.html/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/alcohol-use-and-alcoholism-in-the-workplace.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/alcohol-related-injuries-and-deaths-in-the-us.html/?$ https://$host/ permanent;
            rewrite ^/alcohol-addiction-treatment-for-busy-people.html/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/after-drug-rehab-making-the-transition-from-clinical-to-normal-life.html/?$ https://$host/blog/after-drug-rehab-making-the-transition-from-clinical-to-normal-life/ permanent;
            rewrite ^/aetna-insurance-for-rehab.html/?$ https://$host/blog/all-about-aetna-substance-abuse-insurance/ permanent;
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3413
            rewrite ^/addiction-treatment/interventions.html/?$ https://$host/blog/interventions-explained/ permanent;
            rewrite ^/addiction-treatment/drug-addiction-treatment.html/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/addiction-treatment/drug-addiction-treatment/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/the-facts-about-meth-addiction-in-the-us.html/?$ https://$host/crystal-meth/ permanent;
            rewrite ^/parents-are-losing-their-kids-over-marijuana.html/?$ https://$host/blog/parents-are-losing-their-kids-over-marijuana/ permanent;
            rewrite ^/drug-rehab-how-long-does-it-take.html/?$ https://$host/blog/drug-rehab-how-long-does-it-take/ permanent;
            rewrite ^/bipolar-disorder-and-addiction.html/?$ https://$host//drug-abuse/bath-salts/ permanent;
            rewrite ^/alcohol-abuse-in-college-students.html/?$ https://$host//alcohol-abuse/ permanent;
            rewrite ^/drug-addiction-and-anxiety.html/?$ https://$host/blog/drug-addiction-and-anxiety/ permanent;
            rewrite ^/addiction-and-delayed-development.html/?$ https://$host/blog/addiction-and-delayed-development/ permanent;
            rewrite ^/substance-abuse-and-emotional-disorders-part-i.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/does-american-culture-encourage-addiction.html/?$ https://$host/blog/does-american-culture-encourage-addiction/ permanent;
            rewrite ^/addiction-alcoholism-a-disease-that-attacks-body-mind-and-spirit.html/?$ https://$host/alcohol-abuse/physical-effects/ permanent;
            rewrite ^/prescription-drug-addiction-in-the-us.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/drug-addiction-linked-to-bias-and-genetics.html/?$ https://$host/blog/drug-addiction-linked-to-bias-and-genetics/ permanent;
            rewrite ^/addiction-and-weight-loss-pills.html/?$ https://$host/blog/addiction-and-weight-loss-pills/ permanent;
            rewrite ^/measuring-the-success-of-the-war-on-drugs.html/?$ https://$host/blog/measuring-the-success-of-the-war-on-drugs/ permanent;
            rewrite ^/drug-addiction-recovery-and-physical-fitness.html/?$ https://$host/blog/drug-addiction-recovery-and-physical-fitness/ permanent;
            rewrite ^/substance-abuse-interventions.html/?$ https://$host/blog/substance-abuse-interventions/ permanent;
            rewrite ^/social-life-and-drug-addiction.html/?$ https://$host/blog/social-life-and-drug-addiction/ permanent;
            rewrite ^/when-recovering-alcoholics-and-addicts-relapse.html/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave.html/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/does-drug-testing-our-kids-go-too-far.html/?$ https://$host/blog/does-drug-testing-our-kids-go-too-far/ permanent;
            rewrite ^/addiction-a-pavlovian-response-to-drugs-and-alcohol.html/?$ https://$host/prescription-opioids/oxycontin/ permanent;
            rewrite ^/drug-use-among-sex-workers.html/?$ https://$host/blog/drug-use-among-sex-workers/ permanent;
            rewrite ^/the-south-american-cocaine-trade.html/?$ https://$host/cocaine/ permanent;
            rewrite ^/emotional-problems-during-inpatient-drug-rehab.html/?$ https://$host/blog/emotional-problems-during-inpatient-drug-rehab/ permanent;
            rewrite ^/can-animals-become-addicted-to-drugs.html/?$ https://$host/blog/can-animals-become-addicted-to-drugs/ permanent;
            rewrite ^/the-challenges-of-drug-rehab-for-elderly-addicts.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/painkiller-deaths-on-the-rise.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/the-war-against-synthetic-drugs.html/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/four-successful-therapies-for-drug-addiction-treatment.html/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/understanding-neurotransmitters-and-substance-abuse.html/?$ https://$host/blog/understanding-neurotransmitters-and-substance-abuse/ permanent;
            rewrite ^/lifestyle-changes-as-part-of-recovery-from-drug-addiction.html/?$ https://$host/blog/lifestyle-changes-as-part-of-recovery-from-drug-addiction/ permanent;
            rewrite ^/should-marijuana-be-regulated-like-alcohol.html/?$ https://$host/blog/should-marijuana-be-regulated-like-alcohol/ permanent;
            rewrite ^/addiction-to-sleep-aids-and-sleep-medications.html/?$ https://$host/blog/addiction-to-sleep-aids-and-sleep-medications/ permanent;
            rewrite ^/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from.html/?$ https://$host/blog/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from/ permanent;
            rewrite ^/treatment-options-for-alcoholism.html/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/drug-rehab-is-only-the-beginning-of-recovery.html/?$ https://$host/program-overview-hollywood/after-rehab/ permanent;
            rewrite ^/addiction-treatment.html/?$ https://$host/blog/addiction-treatment-florida-model-vs-residential-inpatient-program/ permanent;
            rewrite ^/constructive-sharing-vs-glorification-of-drug-abuse.html/?$ https://$host/blog/constructive-sharing-vs-glorification-of-drug-abuse/ permanent;
            rewrite ^/roxicet.htm/?$ https://$host/ permanent;
            rewrite ^/addiction-and-fertility.html/?$ https://$host/blog/addiction-and-fertility/ permanent;
            rewrite ^/porn-gambling-and-drug-addiction-whats-the-connection.html/?$ https://$host/blog/porn-gambling-and-drug-addiction-whats-the-connection/ permanent;
            rewrite ^/addiction-among-politicians.html/?$ https://$host/blog/addiction-among-politicians/ permanent;
            rewrite ^/five-important-questions-about-blue-cross-blue-shield-federal-insurance-for-rehab.html/?$ https://$host/blog/five-important-questions-about-blue-cross-blue-shield-federal-insurance-for-rehab/ permanent;
            rewrite ^/naturally-occurring-and-synthetic-drugs-of-abuse.html/?$ https://$host/blog/naturally-occurring-and-synthetic-drugs-of-abuse/ permanent;
            rewrite ^/does-insurance-cover-drug-rehab-difficulties-in-paying-for-treatment.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/value-options-insurance-for-rehab-complying-with-hipaa-guidelines.html/?$ https://$host/blog/saving-on-drug-treatment-with-value-options-insurance-for-rehab/ permanent;
            rewrite ^/the-neurological-nature-of-addiction-alcoholism.html/?$ https://$host/blog/the-neurological-nature-of-addiction-alcoholism/ permanent;
            rewrite ^/the-costs-and-benefits-of-court-ordered-inpatient-drug-rehab.html/?$ https://$host/blog/the-costs-and-benefits-of-court-ordered-inpatient-drug-rehab/ permanent;
            rewrite ^/treatment-for-non-drug-addictions.html/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/the-role-of-neurons-in-substance-abuse.html/?$ https://$host/blog/the-role-of-neurons-in-substance-abuse/ permanent;
            rewrite ^/three-signs-you-are-in-denial-about-your-drug-addiction.html/?$ https://$host/blog/three-signs-you-are-in-denial-about-your-drug-addiction/ permanent;
            rewrite ^/worldwide-drug-laws.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/10-little-resolutions-to-help-prevent-relapse-in-2013.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/using-drugs-as-study-aids.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-and-willpower-are-they-related.html/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/what-is-rapid-drug-detoxification.html/?$ https://$host/blog/what-is-rapid-drug-detoxification/ permanent;
            rewrite ^/why-drug-rehab-works-a-rebuttal-to-the-new-york-times.html/?$ https://$host/blog/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/ permanent;
            rewrite ^/alcoholism-among-the-homeless.html/?$ https://$host/blog/alcoholism-among-the-homeless/ permanent;
            rewrite ^/new/new/drug-rehab/?$ https://$host/blog/drug-rehab-after-relapse/ permanent;
            rewrite ^/steroid-addiction-and-dependence-explained.html/?$ https://$host/prescription-abuse/most-popular-drugs/ permanent;
            rewrite ^/success-rates-of-recovery-from-addiction.html/?$ https://$host/addiction-blog/ permanent;
