files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/our-program/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/our-program/hollywood-fl/?$ https://$host/addiction-treatment-florida/hollywood-fl/ permanent;
            rewrite ^/our-program/amenities-hollywood/?$ https://$host/addiction-treatment-florida/amenities-hollywood/ permanent;
            rewrite ^/our-program/fort-lauderdale-fl/?$ https://$host/addiction-treatment-florida/fort-lauderdale-fl/ permanent;
            rewrite ^/our-program/amenities-ft-lauderdale/?$ https://$host/addiction-treatment-florida/amenities-ft-lauderdale/ permanent;
            rewrite ^/services/?$ https://$host/addiction-treatment-florida/services/ permanent;
            rewrite ^/levels-of-care/?$ https://$host/addiction-treatment-florida/levels-of-care/ permanent;
            rewrite ^/therapy-types/?$ https://$host/addiction-treatment-florida/therapy-types/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment-florida/aftercare/ permanent;
            rewrite ^/specialized/?$ https://$host/addiction-treatment-florida/specialized/ permanent;
            rewrite ^/addiction-treatment-payment-options/?$ https://$host/addiction-treatment-florida/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
    /etc/nginx/conf.d/redirects/01.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/why-going-away-for-drug-rehab-works.html/?$ https://$host/why-going-away-for-drug-rehab-works/ permanent;
            rewrite ^/why-addiction-is-a-disease-not-a-symptom.html/?$ https://$host/why-addiction-is-a-disease-not-a-symptom/ permanent;
            rewrite ^/what-is-an-intervention.html/?$ https://$host/what-is-an-intervention/ permanent;
            rewrite ^/understanding-drug-addiction-and-denial-management.html/?$ https://$host/understanding-drug-addiction-and-denial-management/ permanent;
            rewrite ^/the-symptoms-of-post-acute-withdrawal-syndrome.html/?$ https://$host/the-symptoms-of-post-acute-withdrawal-syndrome/ permanent;
            rewrite ^/the-real-war-on-drugs.html/?$ https://$host/the-real-war-on-drugs/ permanent;
            rewrite ^/the-paradox-of-drug-abuse-and-euphoria.html/?$ https://$host/the-paradox-of-drug-abuse-and-euphoria/ permanent;
            rewrite ^/the-enabler-in-drug-addiction-and-alcoholism.html/page/15/?$ https://$host/the-enabler-in-drug-addiction-and-alcoholism/ permanent;
            rewrite ^/the-enabler-in-drug-addiction-and-alcoholism.html/?$ https://$host/the-enabler-in-drug-addiction-and-alcoholism/ permanent;
            rewrite ^/the-efficacy-of-non-traditional-drug-addiction-treatment.html/?$ https://$host/the-efficacy-of-non-traditional-drug-addiction-treatment/ permanent;
            rewrite ^/the-effects-of-heroin.html/?$ https://$host/the-effects-of-heroin/ permanent;
            rewrite ^/the-effects-of-alcoholism-on-modern-society.html/?$ https://$host/the-effects-of-alcoholism-on-modern-society/ permanent;
            rewrite ^/the-difference-between-detox-and-paws.html/?$ https://$host/the-difference-between-detox-and-paws/ permanent;
            rewrite ^/the-debate-on-internet-addiction-disorder.html/?$ https://$host/the-debate-on-internet-addiction-disorder/ permanent;
            rewrite ^/the-death-of-whitney-houston-was-it-drug-or-alcohol-related.html/?$ https://$host/the-death-of-whitney-houston-was-it-drug-or-alcohol-related/ permanent;
            rewrite ^/the-dangers-of-inhalants.html/?$ https://$host/the-dangers-of-inhalants/ permanent;
            rewrite ^/the-dangers-of-alcohol-and-energy-drinks.html/?$ https://$host/the-dangers-of-alcohol-and-energy-drinks/ permanent;
            rewrite ^/the-daily-schedule-at-a-florida-drug-rehab-center.html/?$ https://$host/the-daily-schedule-at-a-florida-drug-rehab-center/ permanent;
            rewrite ^/the-big-list-of-addiction-recovery-movies.html/?$ https://$host/the-big-list-of-addiction-recovery-movies/ permanent;
            rewrite ^/the-american-alcohol-prohibition.html/?$ https://$host/the-american-alcohol-prohibition/ permanent;
            rewrite ^/the-american/?$ https://$host/the-american-alcohol-prohibition/ permanent;
            rewrite ^/thanks-inquiry.html/?$ https://$host/ permanent;
            rewrite ^/thank-you.html/?$ https://$host/ permanent;
            rewrite ^/thank-you-quick.html/?$ https://$host/ permanent;
            rewrite ^/thank-you-quick-2.html/?$ https://$host/ permanent;
            rewrite ^/thank-you-question.html/?$ https://$host/ permanent;
            rewrite ^/thank-inquiry.html/?$ https://$host/ permanent;
    /etc/nginx/conf.d/redirects/02.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/testimonials/letters.html/?$ https://$host/ permanent;
            rewrite ^/testimonials.html/?$ https://$host/ permanent;
