files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3101
            rewrite ^/substance-abuse-and-violent-crime.html/?$ https://$host/blog/substance-abuse-and-violent-crime/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-among-educators.html/?$ https://$host/blog/substance-abuse-and-drug-rehab-among-educators/ permanent;
            rewrite ^/questions-unanswered-in-peru-drug-rehab-fire.html/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/prison-time-vs-rehab-for-drug-offenders.html/?$ https://$host/blog/prison-time-vs-rehab-for-drug-offenders/ permanent;
            rewrite ^/prison-sentences-for-drug-possession-and-trafficking.html/?$ https://$host/blog/prison-sentences-for-drug-possession-and-trafficking/ permanent;
            rewrite ^/prescription-drug-abuse-epidemic-are-doctors-to-blame.html/?$ https://$host/blog/prescription-drug-abuse-epidemic-are-doctors-to-blame/ permanent;
            rewrite ^/post-acute-withdrawal-syndrome.html/?$ https://$host/blog/the-signs-and-symptoms-of-p-a-w-s/ permanent;
            rewrite ^/paws-survey.html/?$ https://$host/detox/danger-of-withdrawal-symptoms/ permanent;
            rewrite ^/new/new/the-homeless-and-drug-addiction.html/?$ https://$host/blog/the-homeless-and-drug-addiction/ permanent;
    /etc/nginx/conf.d/redirects/04.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/articlecorner/?$ https://$host/article-corner/ permanent;
            rewrite ^/new/new/category/articlecorner/page/97/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/93/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/90/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/89/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/70/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/7/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/67/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/63/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/62/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/57/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/56/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/5/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/40/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/38/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/3/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/29/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/164/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/162/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/150/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/131/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/12/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/11/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/108/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/105/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/100/?$ https://$host/ permanent;
            rewrite ^/new/new/can-animals-become-addicted-to-drugs.html/?$ https://$host/can-animals-become-addicted-to-drugs/ permanent;
            rewrite ^/new/new/babies-who-are-born-addicted-to-drugs.html/?$ https://$host/babies-who-are-born-addicted-to-drugs/ permanent;
            rewrite ^/new/new/aw-drug-rehab/?$ https://$host/ permanent;
            rewrite ^/new/new/ask-a-question/?$ https://$host/ permanent;
            rewrite ^/new/new/alcoholism-and-sports.html/?$ https://$host/alcoholism-and-sports/ permanent;
            rewrite ^/new/new/alcoholism-among-the-elderly.html/?$ https://$host/alcoholism-among-the-elderly/ permanent;
            rewrite ^/new/new/alcohol-use-and-alcoholism-in-the-workplace.html/?$ https://$host/alcohol-use-and-alcoholism-in-the-workplace/ permanent;
            rewrite ^/new/new/affordable-drug-and-alcohol-rehab-programs.html/?$ https://$host/affordable-drug-and-alcohol-rehab-programs/ permanent;
            rewrite ^/new/new/addiction-treatment/interventions/?$ https://$host/ permanent;
            rewrite ^/new/new/addiction-treatment/alcohol-addiction-treatment/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/addiction-treatment/alcohol-addiction-treatment/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/new/new/addiction-treatment-florida-model-vs-residential-inpatient-program.html/?$ https://$host/addiction-treatment-florida-model-vs-residential-inpatient-program/ permanent;
            rewrite ^/new/new/addiction-to-sleep-aids-and-sleep-medications.html/?$ https://$host/addiction-to-sleep-aids-and-sleep-medications/ permanent;
            rewrite ^/new/new/addiction-and-the-enabler.html/?$ https://$host/addiction-and-the-enabler/ permanent;
            rewrite ^/new/new/addiction-and-premature-aging.html/?$ https://$host/addiction-and-premature-aging/ permanent;
            rewrite ^/new/new/addiction-and-fertility.html/?$ https://$host/addiction-and-fertility/ permanent;
            rewrite ^/new/new/addiction-and-alcoholism-among-public-figures.html/?$ https://$host/addiction-and-alcoholism-among-public-figures/ permanent;
            rewrite ^/new/new/addiction-alcoholism-a-disease-that-attacks-body-mind-and-spirit.html/?$ https://$host/addiction-alcoholism-a-disease-that-attacks-body-mind-and-spirit/ permanent;
            rewrite ^/new/new/addiction-a-pavlovian-response-to-drugs-and-alcohol.html/?$ https://$host/addiction-a-pavlovian-response-to-drugs-and-alcohol/ permanent;
            rewrite ^/new/new/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from.html/?$ https://$host/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from/ permanent;
            rewrite ^/new/new/about/letter-from-ceo/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/new/new/about/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/New_Site/painmedication.html/?$ https://$host/New_Site/painmedication/ permanent;
            rewrite ^/nazi-meth-then-and-now.html/?$ https://$host/nazi-meth-then-and-now/ permanent;
            rewrite ^/much-pain-medication.html/?$ https://$host/much-pain-medication/ permanent;
            rewrite ^/mscontin.htm/?$ https://$host/ permanent;
            rewrite ^/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids.html/?$ https://$host/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids/ permanent;
            rewrite ^/modern-youth-drug-abuse-trends.html/?$ https://$host/modern-youth-drug-abuse-trends/ permanent;
            rewrite ^/mobile/hallucinogens-addiction.html/?$ https://$host/mobile/hallucinogens-addiction/ permanent;
            rewrite ^/mobile/drug-paraphernalia-exposed.html/?$ https://$host/mobile/drug-paraphernalia-exposed/ permanent;
            rewrite ^/meth-detox.html?imz_s=tbefi8anh554l78jhqv5ipfrk7/?$ https://$host/ permanent;
            rewrite ^/medication-and-behavioral-therapy-for-addiction-treatment.html/?$ https://$host/medication-and-behavioral-therapy-for-addiction-treatment/ permanent;
            rewrite ^/med-drug-treatment.html/?$ https://$host/med-drug-treatment/ permanent;
            rewrite ^/measuring/?$ https://$host/measuring-the-success-of-the-war-on-drugs/ permanent;
            rewrite ^/marijuana-withdrawal-is-it-for-real.html/page/27/?$ https://$host/marijuana-withdrawal-is-it-for-real/ permanent;
            rewrite ^/marijuana-withdrawal-is-it-for-real.html/?$ https://$host/marijuana-withdrawal-is-it-for-real/ permanent;
            rewrite ^/marijuana-addiction-is-it-real.html/?$ https://$host/marijuana-addiction-is-it-real/ permanent;
            rewrite ^/managing-dry-drunk-syndrome-during-florida-inpatient-treatment.html/?$ https://$host/managing-dry-drunk-syndrome-during-florida-inpatient-treatment/ permanent;
            rewrite ^/managed-health-network-insurance-for-rehab.html/?$ https://$host/ permanent;
            rewrite ^/managed-care-concepts-insurance-for-rehab.html/?$ https://$host/ permanent;
            rewrite ^/making-time-for-recovery-part-4.html/?$ https://$host/making-time-for-recovery-part-4/ permanent;
            rewrite ^/making-time-for-recovery-part-1.html/?$ https://$host/making-time-for-recovery-part-1/ permanent;
            rewrite ^/main.html/?$ https://$host/ permanent;
            rewrite ^/magellan-insurance-for-rehab.html/?$ https://$host/magellan-insurance-for-rehab/ permanent;
            rewrite ^/magazine-test.html/?$ https://$host/ permanent;
            rewrite ^/lsd-addiction-and-dependence.html/?$ https://$host/lsd-addiction-and-dependence/ permanent;
            rewrite ^/lower-dopamine-levels-caused-long-term-pot-use.html/?$ https://$host/lower-dopamine-levels-caused-long-term-pot-use/ permanent;
            rewrite ^/lorcet.htm/?$ https://$host/ permanent;
            rewrite ^/looking-drug-detox.html/?$ https://$host/looking-drug-detox/ permanent;
            rewrite ^/looking-drug-detox-2.html/?$ https://$host/looking-drug-detox-2/ permanent;
            rewrite ^/liver-transplants-for/?$ https://$host/liver-transplants-for-alcoholics-a-public-debate/ permanent;
    /etc/nginx/conf.d/redirects/05.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/lifesynch-insurance-for-rehab.html/?$ https://$host/lifesynch-insurance-for-rehab/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=vk9f67hufl3qavc2s8gf4o71v6/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=u55o8sggt9l0t1s0or2r2qrsp1/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=og9v6mm4t0smsmpfgclumfv5h7/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=nbmdjccn6rglmg05aoc2orkl03/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=5oui6n8sfnraon2n0dhoc89a42/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html?imz_s=0kvvemd59g58s8k4k1at617qg5/?$ https://$host/ permanent;
            rewrite ^/letter-from-ceo.html/?$ https://$host/ permanent;
            rewrite ^/legalizing-pot.html/?$ https://$host/legalizing-pot/ permanent;
            rewrite ^/leaving-your-home-state-for-drug-rehab-in-florida.html/?$ https://$host/leaving-your-home-state-for-drug-rehab-in-florida/ permanent;
            rewrite ^/leaving-recovery-first-residential-treatment.html/?$ https://$host/leaving-recovery-first-residential-treatment/ permanent;
            rewrite ^/laugh-and-cry-your-way-to-recovery-from-addiction-part-i.html/?$ https://$host/laugh-and-cry-your-way-to-recovery-from-addiction-part-i/ permanent;
            rewrite ^/laugh-and-cry-your-way-to-recovery-from-addiction-part-2.html/?$ https://$host/laugh-and-cry-your-way-to-recovery-from-addiction-part-2/ permanent;
            rewrite ^/laugh/?$ https://$host/laugh-and-cry-your-way-to-recovery-from-addiction-part-2/ permanent;
            rewrite ^/keys-to-recovery-part-1.html/?$ https://$host/keys-to-recovery-part-1/ permanent;
            rewrite ^/keeping-your-job-with-compsych-insurance-for-rehab.html/?$ https://$host/keeping-your-job-with-compsych-insurance-for-rehab/ permanent;
            rewrite ^/join-recovery-first-on-the-war-on-drugs.html/?$ https://$host/join-recovery-first-on-the-war-on-drugs/ permanent;
            rewrite ^/iv-drug-use-facts.html/?imz_s=d0spvaoj36v7ren6gf9qdeoc75/?$ https://$host/iv-drug-use-facts/ permanent;
            rewrite ^/iv-drug-use-facts.html/?$ https://$host/iv-drug-use-facts/ permanent;
            rewrite ^/iv-drug-use-facts.html/?$ https://$host/iv-drug-use-facts/ permanent;
            rewrite ^/iv-drug/?$ https://$host/iv-drug-use-facts/ permanent;
            rewrite ^/is-there-a-cure-for-alcoholism.html/?$ https://$host/is-there-a-cure-for-alcoholism/ permanent;
            rewrite ^/is-relapse-normal.html/?$ https://$host/is-relapse-normal/ permanent;
            rewrite ^/is-outpatient-drug-rehab-the-right-choice-for-you.html/?$ https://$host/is-outpatient-drug-rehab-the-right-choice-for-you/ permanent;
            rewrite ^/inyourstate/wyoming-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/wisconsin-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/vermont-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/texas-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/rhode-island-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/pennsylvania-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/oklahoma-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/new-york-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/new-jersey-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/michigan-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/massachussetts-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/hawaii-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/connecticut-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/arkansas-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/intravenous-drug-abuse-explained-part-1.html/?$ https://$host/intravenous-drug-abuse-explained-part-1/ permanent;
            rewrite ^/interventions-detox.html/?$ https://$host/ permanent;
            rewrite ^/inpatient-vs-outpatient-drug-treatment.html/?$ https://$host/inpatient-vs-outpatient-drug-treatment/ permanent;
            rewrite ^/inpatient-treatment.htmlhttp:/?$ https://$host/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/inpatient-treatment.html/?$ https://$host/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/inpatient-treatment/?$ https://$host/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-ii-dangerous-locations.html/?$ https://$host/inpatient-treatment-for-legal-drugs-part-ii-dangerous-locations/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse.html/?$ https://$host/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/inpatient-substance-abuse-and-pica.html/?$ https://$host/inpatient-substance-abuse-and-pica/ permanent;
            rewrite ^/inpatient-programs-for-alcohol-addiction-treatment.html/?$ https://$host/inpatient-programs-for-alcohol-addiction-treatment/ permanent;
            rewrite ^/inpatient-drug-treatment-for-study-aids.html/?$ https://$host/inpatient-drug-treatment-for-study-aids/ permanent;
            rewrite ^/inpatient-drug-rehab-for-mushrooms-and-other-hallucinogens.html/?$ https://$host/inpatient-drug-rehab-for-mushrooms-and-other-hallucinogens/ permanent;
            rewrite ^/inpatient-alcohol-rehab-how-it-works.html/?$ https://$host/inpatient-alcohol-rehab-how-it-works/ permanent;
            rewrite ^/indoor-marijuana-grow-operations-on-the-rise.html/?$ https://$host/indoor-marijuana-grow-operations-on-the-rise/ permanent;
            rewrite ^/increase-in-older-addicts-alcoholics-cause-for-concern.html/?$ https://$host/increase-in-older-addicts-alcoholics-cause-for-concern/ permanent;
            rewrite ^/important-us-acts-governing-drugs-and-substance-abuse.html/?$ https://$host/important-us-acts-governing-drugs-and-substance-abuse/ permanent;
            rewrite ^/images/jimdavisintro.mov?phpMyAdmin=4d47692ee34dc81cdf79ee6e2af74bf3/?$ https://$host/images/jimdavisintro/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of.html/?$ https://$host/illicit-drugs-youve-never-heard-of/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of-part-3.html/?$ https://$host/illicit-drugs-youve-never-heard-of-part-3/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of-part-2.html/?$ https://$host/illicit-drugs-youve-never-heard-of-part-2/ permanent;
            rewrite ^/illicit-drugs/?$ https://$host/illicit-drugs-youve-never-heard-of/ permanent;
            rewrite ^/how-to-manage-post-acute-withdrawal-syndrome.html/?$ https://$host/how-to-manage-post-acute-withdrawal-syndrome/ permanent;
            rewrite ^/how-to-identify-drugs/pieces-of-hashish-in-a-plastic-bag/?$ https://$host/how-to-identify-drugs/pieces-of-hashish-in-a-plastic-bag/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-steroids/?$ https://$host/how-to-identify-drugs/how-to-identify-steroids/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-prescription-drugs-of-abuse/?$ https://$host/how-to-identify-drugs/how-to-identify-prescription-drugs-of-abuse/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-peyote/?$ https://$host/how-to-identify-drugs/how-to-identify-peyote/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-meth/?$ https://$host/how-to-identify-drugs/how-to-identify-meth/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-lsd/?$ https://$host/how-to-identify-drugs/how-to-identify-lsd/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-heroin/?$ https://$host/how-to-identify-drugs/how-to-identify-heroin/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-drugs-2/?$ https://$host/how-to-identify-drugs/how-to-identify-drugs-2/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-bath-salts/?$ https://$host/how-to-identify-drugs/how-to-identify-bath-salts/ permanent;
            rewrite ^/how-to-identify-drugs/ecstasy-pills/?$ https://$host/how-to-identify-drugs/ecstasy-pills/ permanent;
            rewrite ^/how-to-identify-drugs.html/how-to-identify-cocaine/?$ https://$host/how-to-identify-drugs/ permanent;
            rewrite ^/how-to-identify-drugs.html/ecstasy-pills/?$ https://$host/how-to-identify-drugs/ permanent;
            rewrite ^/how-to-identify-drugs.html/?$ https://$host/how-to-identify-drugs/ permanent;
            rewrite ^/how-to-find-free-drug-addiction-treatment.html/?imz_s=mjblkpgabse6sd5an7h82akig2/?$ https://$host/how-to-find-free-drug-addiction-treatment/ permanent;
            rewrite ^/how-residential-inpatient-treatment-programs-help-overcome-drug-addiction.html/?$ https://$host/how-residential-inpatient-treatment-programs-help-overcome-drug-addiction/ permanent;
            rewrite ^/how-proposed-gun-control-will-affect-people-in-recovery.html/?$ https://$host/how-proposed-gun-control-will-affect-people-in-recovery/ permanent;
            rewrite ^/how-pot-brownies-can-ruin-your-life.html/?imz_s=d0spvaoj36v7ren6gf9qdeoc75/?$ https://$host/how-pot-brownies-can-ruin-your-life/ permanent;
            rewrite ^/how-pot-brownies-can-ruin-your-life.html/?$ https://$host/how-pot-brownies-can-ruin-your-life/ permanent;
            rewrite ^/how-introverts-can-succeed-during-residential-inpatient-treatment.html/?$ https://$host/how-introverts-can-succeed-during-residential-inpatient-treatment/ permanent;
            rewrite ^/how-drug-rehab-can-help-military-veterans.html/?$ https://$host/how-drug-rehab-can-help-military-veterans/ permanent;
            rewrite ^/how-drinking-games-culture-can-lead-to-alcoholism.html/?$ https://$host/how-drinking-games-culture-can-lead-to-alcoholism/ permanent;
            rewrite ^/how-does-drug-addiction-happen.html/page/66/?$ https://$host/how-does-drug-addiction-happen/ permanent;
            rewrite ^/how-does-drug-addiction-happen.html/?$ https://$host/how-does-drug-addiction-happen/ permanent;
            rewrite ^/how-does-drug-addiction-happen.html/?$ https://$host/how-does-drug-addiction-happen/ permanent;
            rewrite ^/how-do-i-pay-for-drug-addiction-treatment/RJ/?$ https://$host/addiction-treatment-payment-options/ permanent;
            rewrite ^/how-do-i-pay-for-drug-addiction-treatment.html/?$ https://$host/addiction-treatment-payment-options/ permanent;
            rewrite ^/honest-call-drug-rehab.html/?$ https://$host/honest-call-drug-rehab/ permanent;
            rewrite ^/hollywood-addiction-treatment-facility/?$ https://$host/hollywood-addiction-treatment-facility/ permanent;
            rewrite ^/hipaa-and-your-rights-as-a-drug-rehab-patient.html/?$ https://$host/hipaa-and-your-rights-as-a-drug-rehab-patient/ permanent;
            rewrite ^/highly-functioning-alcoholics-whos-it-really-hurting.html/?$ https://$host/highly-functioning-alcoholics-whos-it-really-hurting/ permanent;
            rewrite ^/high-functioning-drug-users.html/?$ https://$host/high-functioning-drug-users/ permanent;
            rewrite ^/heroin-in-the-brain-and-body.html/?$ https://$host/heroin-in-the-brain-and-body/ permanent;
            rewrite ^/heroin-drug-abuse-continues-explode.html/?$ https://$host/heroin-drug-abuse-continues-explode/ permanent;
            rewrite ^/heroin-detox.html?imz_s=tbefi8anh554l78jhqv5ipfrk7/?$ https://$host/ permanent;
            rewrite ^/heroin-addiction-epidemic.html/?$ https://$host/heroin-addiction-epidemic/ permanent;
            rewrite ^/helpful-resources-for-drug-addiction.html/?$ https://$host/helpful-resources-for-drug-addiction/ permanent;
            rewrite ^/helpful-resources-for-alcoholism.html/?$ https://$host/helpful-resources-for-alcoholism/ permanent;
            rewrite ^/healthy-lifestyles-for-drug-addiction-treatment.html/?$ https://$host/healthy-lifestyles-for-drug-addiction-treatment/ permanent;
            rewrite ^/health-care-and-addiction-treatment.html/?$ https://$host/health-care-and-addiction-treatment/ permanent;
            rewrite ^/hallucinogens-and-addiction.html/?$ https://$host/hallucinogens-and-addiction/ permanent;
            rewrite ^/hallucinogens-addiction.html/?$ https://$host/hallucinogens-addiction/ permanent;
            rewrite ^/group-based-treatments-for-drug-rehab.html/?$ https://$host/group-based-treatments-for-drug-rehab/ permanent;
            rewrite ^/going-to-drug-rehab-better-ask-this-one-question.html/?$ https://$host/going-to-drug-rehab-better-ask-this-one-question/ permanent;
            rewrite ^/going-out-of-state-for-inpatient-drug-rehab.html/?$ https://$host/going-out-of-state-for-inpatient-drug-rehab/ permanent;
            rewrite ^/getting-quality-cigna-insurance-for-rehab-and-detox-programs.html/?$ https://$host/getting-quality-cigna-insurance-for-rehab-and-detox-programs/ permanent;
            rewrite ^/getting-out-of-network-treatment-with-aetna-insurance-for-rehab.html/?$ https://$host/getting-out-of-network-treatment-with-aetna-insurance-for-rehab/ permanent;
            rewrite ^/getting-help-for-an-elderly-drug-addict.html/?$ https://$host/getting-help-for-an-elderly-drug-addict/ permanent;
            rewrite ^/genetic-predispositions-to-addiction-and-alcoholism.html/?$ https://$host/genetic-predispositions-to-addiction-and-alcoholism/ permanent;
            rewrite ^/free-insurance-verification-consultation.html/?$ https://$host/ permanent;
            rewrite ^/free-confidential-assessment.html/?$ https://$host/ permanent;
            rewrite ^/free-confidential-assessment-drug-alcohol-rehab.html/?$ https://$host/ permanent;
            rewrite ^/free-beneffit-check-free-consult.html/?$ https://$host/ permanent;
            rewrite ^/forums/?$ https://$host/ permanent;
            rewrite ^/forum/recovery-first-alumni-forum/?$ https://$host/ permanent;
            rewrite ^/florida-inpatient-treatment-for-sleeping-pills.html/?$ https://$host/ permanent;
            rewrite ^/florida-drug-treatment-florida-alcohol-treatment-florida-rehab-information.html/?$ https://$host/ permanent;
            rewrite ^/florida-drug-rehab.html./?$ https://www.recoveryfirst permanent;
            rewrite ^/florida-drug-rehab-center/?$ https://$host/ permanent;
            rewrite ^/florida-drug-rehab-center.html./?$ https://www.recoveryfirst permanent;
            rewrite ^/florida-drug-rehab-center.html?imz_s=d0spvaoj36v7ren6gf9qdeoc75/?$ https://$host/ permanent;
            rewrite ^/florida-drug-rehab-center.html/?$ https://$host/ permanent;
            rewrite ^/five-signs-you-need-alcohol-addiction-treatment.html/?$ https://$host/five-signs-you-need-alcohol-addiction-treatment/ permanent;
            rewrite ^/five-nutritional-habits-for-sobriety-after-drug-rehab.html/?$ https://$host/five-nutritional-habits-for-sobriety-after-drug-rehab/ permanent;
            rewrite ^/five-advantages-to-residential-inpatient-treatment.html/?$ https://$host/five-advantages-to-residential-inpatient-treatment/ permanent;
            rewrite ^/first-ever-post-acute-withdrawal-survey-published-with-troubling-results.html/?$ https://$host/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/ permanent;
            rewrite ^/fioricet-drug-addiction.html/?$ https://$host/fioricet-drug-addiction/ permanent;
            rewrite ^/finding-relief-from-oxycontin-addiction.html/?$ https://$host/finding-relief-from-oxycontin-addiction/ permanent;
            rewrite ^/finding-coverage-through-managed-care-concepts-insurance-for-rehab.html/?$ https://$host/finding-coverage-through-managed-care-concepts-insurance-for-rehab/ permanent;
            rewrite ^/feed/www.colorado.gov/marijuana/?$ https://www.recoveryfirst permanent;
            rewrite ^/facilities-staff/staff/management-team.html?imz_s=mh44vrad9rd62uhf80h7rf9513/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/staff/management-team.html?imz_s=0pj1fbu7h3uv8g1b2v8r9bvn52/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/staff/clinical-team.html?imz_s=d0spvaoj36v7ren6gf9qdeoc75/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/staff/clinical-team.html/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/staff/behavioral-health-team.html/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/staff.html/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/outpatient-facility/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/outpatient-facility.html/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=vg97muvjcvsq4ev4c3v47suka3/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=rq9ik3hu98bshhq0libc28u3j5/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=ltuvj6e83m38nkpufa5c26c5s4/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=ffq0k3f97mrk059bvagl0utfv5/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=7cl65nh5bpurd3np3oiuard4k3/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=6cg5b2nruoh2vmj9b7t0b5qcd3/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=4pchf8p113llu2j2ikoledatd3/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facilities-staff/our-facilities.html?imz_s=2qorhl6v4dajtt6997r65h5bt7/?$ https://$host/about-our-addiction-treatment-center/ permanent;
