files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3101
            rewrite ^/substance-abuse-and-violent-crime.html/?$ https://$host/blog/substance-abuse-and-violent-crime/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-among-educators.html/?$ https://$host/blog/substance-abuse-and-drug-rehab-among-educators/ permanent;
            rewrite ^/questions-unanswered-in-peru-drug-rehab-fire.html/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/prison-time-vs-rehab-for-drug-offenders.html/?$ https://$host/blog/prison-time-vs-rehab-for-drug-offenders/ permanent;
            rewrite ^/prison-sentences-for-drug-possession-and-trafficking.html/?$ https://$host/blog/prison-sentences-for-drug-possession-and-trafficking/ permanent;
            rewrite ^/prescription-drug-abuse-epidemic-are-doctors-to-blame.html/?$ https://$host/blog/prescription-drug-abuse-epidemic-are-doctors-to-blame/ permanent;
            rewrite ^/post-acute-withdrawal-syndrome.html/?$ https://$host/blog/the-signs-and-symptoms-of-p-a-w-s/ permanent;
            rewrite ^/paws-survey.html/?$ https://$host/detox/danger-of-withdrawal-symptoms/ permanent;
            rewrite ^/new/new/the-homeless-and-drug-addiction.html/?$ https://$host/blog/the-homeless-and-drug-addiction/ permanent;
    /etc/nginx/conf.d/redirects/04.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3221
            rewrite ^/mscontin.htm/?$ https://$host/ permanent;
            rewrite ^/lorcet.htm/?$ https://$host/ permanent;
            rewrite ^/join-recovery-first-on-the-war-on-drugs.html/?$ https://$host/blog/join-recovery-first-on-the-war-on-drugs/ permanent;
            rewrite ^/inyourstate/texas-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/pennsylvania-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/new-york-drug-rehab.html/?$ https://$host/ permanent;
            rewrite ^/inyourstate/new-jersey-drug-rehab.html/?$ https://$host/ permanent;
