files:
    /etc/nginx/conf.d/redirects/05.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3221
            rewrite ^/inpatient-vs-outpatient-drug-treatment.html/?$ https://$host/blog/inpatient-vs-outpatient-drug-treatment/ permanent;
            rewrite ^/inpatient-treatment.html/?$ https://$host/blog/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/how-do-i-pay-for-drug-addiction-treatment.html/?$ https://$host/addiction-treatment-florida/payment-options/ permanent;
            rewrite ^/florida-drug-rehab-center.html/?$ https://$host/ permanent;
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/cardinal-rules-of-drug-rehab-centers.html/?imz_s=j08lfla82e5j01j5p3vne97sc1/?$ https://$host/cardinal-rules-of-drug-rehab-centers/ permanent;
            rewrite ^/cardinal-rules-of-drug-rehab-centers.html/?imz_s=3bbcbi8iqvluidib4b5ab6bpt7/?$ https://$host/cardinal-rules-of-drug-rehab-centers/ permanent;
            rewrite ^/cardinal-rules-of-drug-rehab-centers.html/?$ https://$host/cardinal-rules-of-drug-rehab-centers/ permanent;
            rewrite ^/burning-brain-tissue-a-cure-for-drug-addiction.html/?$ https://$host/burning-brain-tissue-a-cure-for-drug-addiction/ permanent;
            rewrite ^/bupropion-understanding-this-multi-use-drug.html/?$ https://$host/bupropion-understanding-this-multi-use-drug/ permanent;
            rewrite ^/brain-changes-young-marijuana-users.html/?$ https://$host/brain-changes-young-marijuana-users/ permanent;
            rewrite ^/blue-crossblue-shield-insurance-for-rehab.html/?$ https://$host/ permanent;
            rewrite ^/biofeedback-therapy-during-drug-rehab.html/?$ https://$host/biofeedback-therapy-during-drug-rehab/ permanent;
            rewrite ^/benzodiazepine-withdrawal.html/?$ https://$host/ permanent;
            rewrite ^/behavioral-health-tech-team.html/?$ https://$host/behavioral-health-tech-team/ permanent;
            rewrite ^/behavioral-health-coverage-under-compsych-insurance-for-rehab.html/?$ https://$host/behavioral-health-coverage-under-compsych-insurance-for-rehab/ permanent;
            rewrite ^/bath-salt-abuse-increasing.html/?$ https://$host/bath-salt-abuse-increasing/ permanent;
            rewrite ^/banned-substances-and-olympic-doping-consequences.html/?$ https://$host/banned-substances-and-olympic-doping-consequences/ permanent;
            rewrite ^/babies-who-are-born-addicted-to-drugs.html/?$ https://$host/babies-who-are-born-addicted-to-drugs/ permanent;
            rewrite ^/aw-drug-rehab/?$ https://$host/ permanent;
            rewrite ^/aw-drug-rehab-2.html/?$ https://$host/ permanent;
            rewrite ^/aw-alcohol-rehab/?$ https://$host/ permanent;
            rewrite ^/average-duration-of-inpatient-drug-rehab-programs.html/?$ https://$host/average-duration-of-inpatient-drug-rehab-programs/ permanent;
            rewrite ^/author/lmiranda/page/67/?$ https://$host/ permanent;
            rewrite ^/author/lmiranda/?imz_s=mh44vrad9rd62uhf80h7rf9513/?$ https://$host/ permanent;
            rewrite ^/author/lmiranda/?imz_s=5lcgeko1kb3d7soqfnpbh08dc0/?$ https://$host/ permanent;
            rewrite ^/author/lmiranda/?$ https://$host/ permanent;
            rewrite ^/author/leah/feed/www.colorado.gov/marijuana/?$ https://www.recoveryfirst permanent;
            rewrite ^/author/james-f-davis/page/9/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/8/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/7/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/67/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/66/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/65/?imz_s=6l0hqk05759q23h2gf5c1smvn3/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/65/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/64/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/63/?imz_s=d17557bpal645gv5t61envmu40/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/63/?imz_s=b5bq2kse1fd54a81rh2hdngj62/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/63/?imz_s=7bildedvjuklencugs2k8drk70/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/62/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/60/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/6/?imz_s=7bildedvjuklencugs2k8drk70/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/6/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/59/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/58/?imz_s=j5ford9d0e5h1pbccjdhsn0c85/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/58/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/56/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/55/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/54/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/53/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/52/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/51/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/50/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/5/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/49/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/48/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/47/?imz_s=b5bq2kse1fd54a81rh2hdngj62/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/47/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/46/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/45/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/44/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/43/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/42/?imz_s=20auruclabms67lgnoppm9jpo2/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/42/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/41/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/40/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/4/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/39/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/37/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/36/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/35/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/34/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/33/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/32/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/31/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/30/?imz_s=2uv73egiatcoef2n2gk0opvr24/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/30/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/3/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/29/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/28/?imz_s=0ucftggcm6ah67uguilp7kbb37/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/28/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/27/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/26/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/25/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/24/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/23/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/22/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/21/?imz_s=j5ford9d0e5h1pbccjdhsn0c85/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/21/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/20/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/2/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/19/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/18/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/17/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/16/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/15/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/14/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/13/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/12/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/11/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/page/1/?$ https://$host/ permanent;
            rewrite ^/author/james-f-davis/?$ https://$host/ permanent;
            rewrite ^/author/craigackerman/page/2/?$ https://$host/ permanent;
            rewrite ^/author/craigackerman/?$ https://$host/ permanent;
            rewrite ^/ask-question.html?imz_s=4fjm9g6rkofoktlqom01mkf8n4/?$ https://$host/contact-our-addiction-treatment-center/ permanent;
            rewrite ^/ask-question.html/?$ https://$host/contact-our-addiction-treatment-center/ permanent;
            rewrite ^/are-you-still-an-addict-after-inpatient-drug-treatment.html/?imz_s=teunbhasjmlscel1o9g4lcrsj0/?$ https://$host/are-you-still-an-addict-after-inpatient-drug-treatment/ permanent;
            rewrite ^/are-us-school-shootings-drug-fueled.html/?$ https://$host/are-us-school-shootings-drug-fueled/ permanent;
            rewrite ^/anonymous-alumni-story.html/?$ https://$host/anonymous-alumni-story/ permanent;
            rewrite ^/america-strongly-encourages-alcohol-consumption.html/?imz_s=3ht1pcfq5n2ougoue6b09s5630/?$ https://$host/america-strongly-encourages-alcohol-consumption/ permanent;
            rewrite ^/all-about-aetna-substance-abuse-insurance.html/?$ https://$host/all-about-aetna-substance-abuse-insurance/ permanent;
            rewrite ^/alcoholism/intervention-for-alcohol-addiction-treatment.html/?$ https://$host/ permanent;
            rewrite ^/alcoholism/2.html/?$ https://$host/ permanent;
            rewrite ^/alcoholism-relapse-abstaining-during-the-holidays.html/?$ https://$host/alcoholism-relapse-abstaining-during-the-holidays/ permanent;
            rewrite ^/alcoholism-in-the-armed-forces.html/?$ https://$host/alcoholism-in-the-armed-forces/ permanent;
            rewrite ^/alcoholism-cirrhosis-of-the-liver-explained.html/?$ https://$host/alcoholism-cirrhosis-of-the-liver-explained/ permanent;
            rewrite ^/alcoholism-and-sports.html/?$ https://$host/alcoholism-and-sports/ permanent;
            rewrite ^/alcoholism-among-the-elderly.html/?$ https://$host/alcoholism-among-the-elderly/ permanent;
            rewrite ^/alcohol-use-and-alcoholism-in-the-workplace.html/?$ https://$host/alcohol-use-and-alcoholism-in-the-workplace/ permanent;
            rewrite ^/alcohol-related-injuries-and-deaths-in-the-us.html/?imz_s=g928occqpbe4btm6gnbnu5pj85/?$ https://$host/alcohol-related-injuries-and-deaths-in-the-us/ permanent;
            rewrite ^/alcohol-related-injuries-and-deaths-in-the-us.html/?$ https://$host/ permanent;
            rewrite ^/alcohol-related-injuries-and-death-in-the-us.html/?$ https://$host/ permanent;
            rewrite ^/alcohol-drugs-and-work-addiction.html/?$ https://$host/alcohol-drugs-and-work-addiction/ permanent;
            rewrite ^/alcohol-detox.html?imz_s=tbefi8anh554l78jhqv5ipfrk7/?$ https://$host/ permanent;
            rewrite ^/alcohol-detox.html?imz_s=ng1sgvijbc76j2sd49tdabt182/?$ https://$host/ permanent;
            rewrite ^/alcohol-and-religion.html/?$ https://$host/ permanent;
            rewrite ^/alcohol-and-religion/?$ https://$host/ permanent;
            rewrite ^/alcohol-addiction-treatment-for-busy-people.html/?$ https://$host/alcohol-addiction-treatment-for-busy-people/ permanent;
            rewrite ^/Alaska%20Drug%20Treatment,%20Alaska%20Alcohol%20Treatment,%20and%20Alaska%20Rehab%20Information/?$ https://$host/ permanent;
            rewrite ^/alaska-drug-treatment-alaska-alcohol-treatment-alaska-rehab-information.html/?$ https://$host/ permanent;
            rewrite ^/alabama-drug-treatment-alabama-alcohol-treatment-alabama-rehab-information.html/?$ https://$host/ permanent;
            rewrite ^/after-drug-rehab-making-the-transition-from-clinical-to-normal-life.html/?$ https://$host/after-drug-rehab-making-the-transition-from-clinical-to-normal-life/ permanent;
            rewrite ^/aetna-insurance-for-rehab.html?imz_s=d0spvaoj36v7ren6gf9qdeoc75/?$ https://$host/aetna-insurance-for-rehab/ permanent;
            rewrite ^/aetna-insurance-for-rehab.html/?$ https://$host/aetna-insurance-for-rehab/ permanent;
            rewrite ^/addiction-treatment/post-acute-withdrawal-syndrome-addiction-treatment-the-complex-little-known-obstacle-to-recovery.html/?$ https://$host/ permanent;
            rewrite ^/addiction-treatment/outpatient-treatment.html?imz_s=teunbhasjmlscel1o9g4lcrsj0/?$ https://$host/ permanent;
            rewrite ^/addiction-treatment/outpatient-treatment.html?imz_s=ed5csat00epst0dihnuof794k6/?$ https://$host/ permanent;
            rewrite ^/addiction-treatment/outpatient-treatment.html?imz_s=cpor2fu8l1240ntttr66eoh5h4/?$ https://$host/ permanent;
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/addiction-treatment/interventions.html/?$ https://$host/interventions-explained/ permanent;
            rewrite ^/addiction-treatment/drug-addiction-treatment.html/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/addiction-treatment/drug-addiction-treatment/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/addiction-treatment/detoxification.htmlttp:/?$ https://$host/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/addiction-treatment/detoxification.htmlp:/?$ https://$host/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/addiction-treatment/detoxification.htmlhttp:/?$ https://$host/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/addiction-treatment/detoxification.html?imz_s=m9mjhm2r681m1phnltbs6npjk4/?$ https://$host/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/the-facts-about-meth-addiction-in-the-us.html/?$ https://$host/the-facts-about-meth-addiction-in-the-us/ permanent;
            rewrite ^/parents-are-losing-their-kids-over-marijuana.html/?$ https://$host/parents-are-losing-their-kids-over-marijuana/ permanent;
            rewrite ^/addiction-and-alcoholism-in-vietnam-war-veterans.html/?$ https://$host/addiction-and-alcoholism-in-vietnam-war-veterans/ permanent;
            rewrite ^/can-you-get-fired-for-going-to-drug-rehab.html/?$ https://$host/can-you-get-fired-for-going-to-drug-rehab/ permanent;
            rewrite ^/drug-rehab-how-long-does-it-take.html/?$ https://$host/drug-rehab-how-long-does-it-take/ permanent;
            rewrite ^/bipolar-disorder-and-addiction.html/?$ https://$host/bipolar-disorder-and-addiction/ permanent;
            rewrite ^/alcohol-abuse-in-college-students.html/?$ https://$host/alcohol-abuse-in-college-students/ permanent;
            rewrite ^/kratom-a-new-old-way-to-get-high.html/?$ https://$host/kratom-a-new-old-way-to-get-high/ permanent;
            rewrite ^/drug-addiction-and-anxiety.html/?$ https://$host/drug-addiction-and-anxiety/ permanent;
            rewrite ^/addiction-and-delayed-development.html/?$ https://$host/addiction-and-delayed-development/ permanent;
            rewrite ^/substance-abuse-and-emotional-disorders-part-i.html/?$ https://$host/substance-abuse-and-emotional-disorders-part-i/ permanent;
            rewrite ^/does-american-culture-encourage-addiction.html/?$ https://$host/does-american-culture-encourage-addiction/ permanent;
            rewrite ^/addiction-alcoholism-a-disease-that-attacks-body-mind-and-spirit.html/?$ https://$host/addiction-alcoholism-a-disease-that-attacks-body-mind-and-spirit/ permanent;
            rewrite ^/prescription-drug-addiction-in-the-us.html/?$ https://$host/prescription-drug-addiction-in-the-us/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-t-z.html/?$ https://$host/substance-abuse-and-drug-rehab-glossary-t-z/ permanent;
            rewrite ^/drug-addiction-linked-to-bias-and-genetics.html/?$ https://$host/drug-addiction-linked-to-bias-and-genetics/ permanent;
            rewrite ^/addiction-and-weight-loss-pills.html/?$ https://$host/addiction-and-weight-loss-pills/ permanent;
            rewrite ^/measuring-the-success-of-the-war-on-drugs.html/?$ https://$host/measuring-the-success-of-the-war-on-drugs/ permanent;
            rewrite ^/drug-addiction-recovery-and-physical-fitness.html/?$ https://$host/drug-addiction-recovery-and-physical-fitness/ permanent;
            rewrite ^/substance-abuse-interventions.html/?$ https://$host/substance-abuse-interventions/ permanent;
            rewrite ^/making-time-for-recovery-part-2.html/?$ https://$host/making-time-for-recovery-part-2/ permanent;
            rewrite ^/social-life-and-drug-addiction.html/?$ https://$host/social-life-and-drug-addiction/ permanent;
            rewrite ^/when-recovering-alcoholics-and-addicts-relapse.html/?$ https://$host/when-recovering-alcoholics-and-addicts-relapse/ permanent;
            rewrite ^/five-helpful-supplements-for-drug-rehab-patients.html/?$ https://$host/five-helpful-supplements-for-drug-rehab-patients/ permanent;
            rewrite ^/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave.html/?$ https://$host/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave/ permanent;
            rewrite ^/client-testimonial-walked-recovery-first-first-time.html/?$ https://$host/client-testimonial-walked-recovery-first-first-time/ permanent;
            rewrite ^/does-drug-testing-our-kids-go-too-far.html/?$ https://$host/does-drug-testing-our-kids-go-too-far/ permanent;
            rewrite ^/addiction-a-pavlovian-response-to-drugs-and-alcohol.html/?$ https://$host/addiction-a-pavlovian-response-to-drugs-and-alcohol/ permanent;
            rewrite ^/drug-use-among-sex-workers.html/?$ https://$host/drug-use-among-sex-workers/ permanent;
            rewrite ^/the-south-american-cocaine-trade.html/?$ https://$host/the-south-american-cocaine-trade/ permanent;
            rewrite ^/emotional-problems-during-inpatient-drug-rehab.html/?$ https://$host/emotional-problems-during-inpatient-drug-rehab/ permanent;
            rewrite ^/can-animals-become-addicted-to-drugs.html/?$ https://$host/can-animals-become-addicted-to-drugs/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-n-s.html/?$ https://$host/substance-abuse-and-drug-rehab-glossary-n-s/ permanent;
            rewrite ^/the-challenges-of-drug-rehab-for-elderly-addicts.html/?$ https://$host/the-challenges-of-drug-rehab-for-elderly-addicts/ permanent;
            rewrite ^/hi-everyone-name.html/?$ https://$host/hi-everyone-name/ permanent;
            rewrite ^/the-effects-of-diabetes-on-drug-addiction.html/?$ https://$host/the-effects-of-diabetes-on-drug-addiction/ permanent;
            rewrite ^/painkiller-deaths-on-the-rise.html/?$ https://$host/painkiller-deaths-on-the-rise/ permanent;
            rewrite ^/the-war-against-synthetic-drugs.html/?$ https://$host/the-war-against-synthetic-drugs/ permanent;
            rewrite ^/interventions-explained.html/?$ https://$host/interventions-explained/ permanent;
            rewrite ^/four-successful-therapies-for-drug-addiction-treatment.html/?$ https://$host/four-successful-therapies-for-drug-addiction-treatment/ permanent;
            rewrite ^/facebook-social-media-and-drug-abuse-whats-the-connection.html/?$ https://$host/facebook-social-media-and-drug-abuse-whats-the-connection/ permanent;
            rewrite ^/understanding-neurotransmitters-and-substance-abuse.html/?$ https://$host/understanding-neurotransmitters-and-substance-abuse/ permanent;
            rewrite ^/drug-testing-during-rehab-part-1.html/?$ https://$host/drug-testing-during-rehab-part-1/ permanent;
            rewrite ^/lifestyle-changes-as-part-of-recovery-from-drug-addiction.html/?$ https://$host/lifestyle-changes-as-part-of-recovery-from-drug-addiction/ permanent;
            rewrite ^/drug-use-and-addiction-increasing-in-developing-countries.html/?$ https://$host/drug-use-and-addiction-increasing-in-developing-countries/ permanent;
            rewrite ^/should-marijuana-be-regulated-like-alcohol.html/?$ https://$host/should-marijuana-be-regulated-like-alcohol/ permanent;
            rewrite ^/addiction-to-sleep-aids-and-sleep-medications.html/?$ https://$host/addiction-to-sleep-aids-and-sleep-medications/ permanent;
            rewrite ^/what-is-a-residential-inpatient-program.html/?$ https://$host/what-is-a-residential-inpatient-program/ permanent;
            rewrite ^/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from.html/?$ https://$host/acute-withdrawal-syndrome-substances-that-can-be-dangerous-to-detox-from/ permanent;
            rewrite ^/treatment-options-for-alcoholism.html/?$ https://$host/treatment-options-for-alcoholism/ permanent;
            rewrite ^/drug-rehab-is-only-the-beginning-of-recovery.html/?$ https://$host/drug-rehab-is-only-the-beginning-of-recovery/ permanent;
            rewrite ^/colorado-ground-zero-marijuana-addiction.html/?$ https://$host/colorado-ground-zero-marijuana-addiction/ permanent;
            rewrite ^/dont-understand-injured.html/?$ https://$host/dont-understand-injured/ permanent;
            rewrite ^/addiction-treatment.html/?$ https://$host/addiction-treatment-florida-model-vs-residential-inpatient-program/ permanent;
            rewrite ^/addiction-treatment-relapse-prevention.html/?$ https://$host/addiction-treatment-relapse-prevention/ permanent;
            rewrite ^/constructive-sharing-vs-glorification-of-drug-abuse.html/?$ https://$host/constructive-sharing-vs-glorification-of-drug-abuse/ permanent;
            rewrite ^/roxicet.htm/?$ https://$host/ permanent;
            rewrite ^/addiction-and-fertility.html/?$ https://$host/addiction-and-fertility/ permanent;
            rewrite ^/porn-gambling-and-drug-addiction-whats-the-connection.html/?$ https://$host/porn-gambling-and-drug-addiction-whats-the-connection/ permanent;
            rewrite ^/outpatient-drug-treatment-what-to-expect.html/?$ https://$host/outpatient-drug-treatment-what-to-expect/ permanent;
            rewrite ^/what-is-a-partial-hospitalization-program.html/?$ https://$host/what-is-a-partial-hospitalization-program/ permanent;
            rewrite ^/addiction-among-politicians.html/?$ https://$host/addiction-among-politicians/ permanent;
            rewrite ^/how-to-prepare-for-residential-inpatient-treatment.html/?$ https://$host/how-to-prepare-for-residential-inpatient-treatment/ permanent;
            rewrite ^/five-important-questions-about-blue-cross-blue-shield-federal-insurance-for-rehab.html/?$ https://$host/five-important-questions-about-blue-cross-blue-shield-federal-insurance-for-rehab/ permanent;
            rewrite ^/naturally-occurring-and-synthetic-drugs-of-abuse.html/?$ https://$host/naturally-occurring-and-synthetic-drugs-of-abuse/ permanent;
            rewrite ^/does-insurance-cover-drug-rehab-difficulties-in-paying-for-treatment.html/?$ https://$host/does-insurance-cover-drug-rehab-difficulties-in-paying-for-treatment/ permanent;
            rewrite ^/new/new/highly-functioning-alcoholics-whos-it-really-hurting.html/?$ https://$host/highly-functioning-alcoholics-whos-it-really-hurting/ permanent;
            rewrite ^/new/new/porn-gambling-and-drug-addiction-whats-the-connection.html/?$ https://$host/porn-gambling-and-drug-addiction-whats-the-connection/ permanent;
            rewrite ^/rm-seeking-an-internvention/?$ https://$host/ permanent;
            rewrite ^/new/new/facilities-staff/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/new/new/recovery-first-free-drug-addiction-assessment.html/?$ https://$host/ permanent;
            rewrite ^/value-options-insurance-for-rehab-complying-with-hipaa-guidelines.html/?$ https://$host/value-options-insurance-for-rehab-complying-with-hipaa-guidelines/ permanent;
            rewrite ^/new/new/rm-intensive-outpatient/?$ https://$host/ permanent;
            rewrite ^/the-neurological-nature-of-addiction-alcoholism.html/?$ https://$host/the-neurological-nature-of-addiction-alcoholism/ permanent;
            rewrite ^/new/new/detox-inpatient-outpatient-and-day-night-treatment-whats-the-difference.html/?$ https://$host/detox-inpatient-outpatient-and-day-night-treatment-whats-the-difference/ permanent;
            rewrite ^/the-costs-and-benefits-of-court-ordered-inpatient-drug-rehab.html/?$ https://$host/the-costs-and-benefits-of-court-ordered-inpatient-drug-rehab/ permanent;
            rewrite ^/treatment-for-non-drug-addictions.html/?$ https://$host/treatment-for-non-drug-addictions/ permanent;
            rewrite ^/choosing-between-residential-inpatient-and-intensive-outpatient-treatment-for-drug-rehab.html/?$ https://$host/choosing-between-residential-inpatient-and-intensive-outpatient-treatment-for-drug-rehab/ permanent;
            rewrite ^/the-role-of-neurons-in-substance-abuse.html/?$ https://$host/the-role-of-neurons-in-substance-abuse/ permanent;
            rewrite ^/synthetic-drugs-overtaking-hospitals.html/?$ https://$host/synthetic-drugs-overtaking-hospitals/ permanent;
            rewrite ^/three-signs-you-are-in-denial-about-your-drug-addiction.html/?$ https://$host/three-signs-you-are-in-denial-about-your-drug-addiction/ permanent;
            rewrite ^/new/new/category/articlecorner/page/30/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/22/?$ https://$host/ permanent;
            rewrite ^/new/new/intravenous-drug-abuse-explained-part-2.html/?$ https://$host/intravenous-drug-abuse-explained-part-2/ permanent;
            rewrite ^/rm-medical-staff/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/worldwide-drug-laws.html/?$ https://$host/worldwide-drug-laws/ permanent;
            rewrite ^/intravenous-drug-abuse-explained-part-2.html/?$ https://$host/intravenous-drug-abuse-explained-part-2/ permanent;
            rewrite ^/10-little-resolutions-to-help-prevent-relapse-in-2013.html/?$ https://$host/10-little-resolutions-to-help-prevent-relapse-in-2013/ permanent;
            rewrite ^/new/new/addiction-and-weight-loss-pills.html/?$ https://$host/new/new/addiction-and-weight-loss-pills/ permanent;
            rewrite ^/florida-drug-rehab-2/?$ https://$host/ permanent;
            rewrite ^/understanding-needle-exchange-programs.html/?$ https://$host/understanding-needle-exchange-programs/ permanent;
            rewrite ^/new/new/addiction-among-politicians.html/?$ https://$host/new/new/addiction-among-politicians/ permanent;
            rewrite ^/new/new/bipolar-disorder-and-addiction.html/?$ https://$host/new/new/bipolar-disorder-and-addiction/ permanent;
            rewrite ^/new/new/category/articlecorner/page/41/?$ https://$host/ permanent;
            rewrite ^/rm-our-aftercare-program/?$ https://$host/ permanent;
            rewrite ^/new/new/addiction-treatment/drug-addiction-treatment/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/66/?$ https://$host/ permanent;
            rewrite ^/new/new/drug-addiction-and-anxiety.html/?$ https://$host/drug-addiction-and-anxiety/ permanent;
            rewrite ^/rm-medical-issues/?$ https://$host/ permanent;
            rewrite ^/new/new/substance-abuse-and-socio-economic-factors.html/?$ https://$host/substance-abuse-and-socio-economic-factors/ permanent;
            rewrite ^/rm-intake-specialist/?$ https://$host/ permanent;
            rewrite ^/rm-length-of-stay/?$ https://$host/ permanent;
            rewrite ^/new/new/category/articlecorner/page/53/?$ https://$host/ permanent;
            rewrite ^/april-alcohol-awareness-month-underage-drinking.html/?$ https://$host/april-alcohol-awareness-month-underage-drinking/ permanent;
            rewrite ^/the-definition-of-alcoholism.html/?$ https://$host/the-definition-of-alcoholism/ permanent;
            rewrite ^/new/new/drug-use-and-addiction-in-developed-countries.html/?$ https://$host/drug-use-and-addiction-in-developed-countries/ permanent;
            rewrite ^/parents-fight-drug-rehab-paid-insurance.html/?$ https://$host/parents-fight-drug-rehab-paid-insurance/ permanent;
            rewrite ^/new/new/alcoholism-relapse-abstaining-during-the-holidays.html/?$ https://$host/alcoholism-relapse-abstaining-during-the-holidays/ permanent;
            rewrite ^/new/new/bath-salt-abuse-increasing.html/?$ https://$host/new/new/bath-salt-abuse-increasing/ permanent;
            rewrite ^/how-drug-addiction-treatment-will-affect-your-career.html/?$ https://$host/how-drug-addiction-treatment-will-affect-your-career/ permanent;
            rewrite ^/using-drugs-as-study-aids.html/?$ https://$host/using-drugs-as-study-aids/ permanent;
            rewrite ^/new/new/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave.html/?$ https://$host/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave/ permanent;
            rewrite ^/new/new/rm-medications/?$ https://$host/ permanent;
            rewrite ^/new/new/family-members-of-alcoholics.html/?$ https://$host/family-members-of-alcoholics/ permanent;
            rewrite ^/state-art-equipment-drug-alcohol-treatment.html/?$ https://$host/state-art-equipment-drug-alcohol-treatment/ permanent;
            rewrite ^/rm-employee-assistance/?$ https://$host/ permanent;
            rewrite ^/new/new/prescription-drug-addiction-in-the-united-states.html/?$ https://$host/prescription-drug-addiction-in-the-united-states/ permanent;
            rewrite ^/category/?$ https://$host/ permanent;
            rewrite ^/addiction-and-willpower-are-they-related.html/?$ https://$host/addiction-and-willpower-are-they-related/ permanent;
            rewrite ^/what-is-rapid-drug-detoxification.html/?$ https://$host/what-is-rapid-drug-detoxification/ permanent;
            rewrite ^/new/new/addiction-treatment-relapse-prevention.html/?$ https://$host/addiction-treatment-relapse-prevention/ permanent;
            rewrite ^/ask-question/?$ https://$host/ permanent;
            rewrite ^/new/new/alcoholism-in-the-armed-forces.html/?$ https://$host/alcoholism-in-the-armed-forces/ permanent;
            rewrite ^/new/new/addiction-and-young-women.html/?$ https://$host/addiction-and-young-women/ permanent;
            rewrite ^/why-drug-rehab-works-a-rebuttal-to-the-new-york-times.html/?$ https://$host/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/ permanent;
            rewrite ^/new/new/alcohol-rehab-in-florida/?$ https://$host/ permanent;
            rewrite ^/alcoholism-among-the-homeless.html/?$ https://$host/alcoholism-among-the-homeless/ permanent;
            rewrite ^/are-you-still-an-addict-after-inpatient-drug-treatment.html/?$ https://$host/are-you-still-an-addict-after-inpatient-drug-treatment/ permanent;
            rewrite ^/new/new/category/articlecorner/page/60/?$ https://$host/ permanent;
            rewrite ^/war-drugs-statistics.html/?$ https://$host/war-drugs-statistics/ permanent;
            rewrite ^/new/new/drug-rehab/?$ https://$host/drug-rehab-after-relapse/ permanent;
            rewrite ^/steroid-addiction-and-dependence-explained.html/?$ https://$host/steroid-addiction-and-dependence-explained/ permanent;
            rewrite ^/recovery-first-inpatient-treatment-services/?$ https://$host/ permanent;
            rewrite ^/success-rates-of-recovery-from-addiction.html/?$ https://$host/success-rates-of-recovery-from-addiction/ permanent;
            rewrite ^/addiction-blog.html/page/31/?$ https://$host/ permanent;
            rewrite ^/11-sober-habits-drug-rehab.html/?$ https://$host/11-sober-habits-drug-rehab/ permanent;
            rewrite ^/myths-and-half-truths-about-drug-treatment-in-florida.html/?$ https://$host/ permanent;
            rewrite ^/rm-levels-of-care/?$ https://$host/ permanent;
