files:
    /etc/nginx/conf.d/redirects/10.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###
    /etc/nginx/conf.d/redirects/11.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###
    /etc/nginx/conf.d/redirects/12.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###
    /etc/nginx/conf.d/redirects/13.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            ###
