files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/our-program/?$ https://$host/addiction-treatment-florida/ permanent;
            rewrite ^/our-program/hollywood-fl/?$ https://$host/addiction-treatment-florida/hollywood-fl/ permanent;
            rewrite ^/our-program/amenities-hollywood/?$ https://$host/addiction-treatment-florida/amenities-hollywood/ permanent;
            rewrite ^/our-program/fort-lauderdale-fl/?$ https://$host/addiction-treatment-florida/fort-lauderdale-fl/ permanent;
            rewrite ^/our-program/amenities-ft-lauderdale/?$ https://$host/addiction-treatment-florida/amenities-ft-lauderdale/ permanent;
            rewrite ^/services/?$ https://$host/addiction-treatment-florida/services/ permanent;
            rewrite ^/levels-of-care/?$ https://$host/addiction-treatment-florida/levels-of-care/ permanent;
            rewrite ^/therapy-types/?$ https://$host/addiction-treatment-florida/therapy-types/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment-florida/aftercare/ permanent;
            rewrite ^/specialized/?$ https://$host/addiction-treatment-florida/specialized/ permanent;
            rewrite ^/addiction-treatment-payment-options/?$ https://$host/addiction-treatment-florida/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
    /etc/nginx/conf.d/redirects/01.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/why-going-away-for-drug-rehab-works.html/?$ https://$host/why-going-away-for-drug-rehab-works/ permanent;
            rewrite ^/why-addiction-is-a-disease-not-a-symptom.html/?$ https://$host/why-addiction-is-a-disease-not-a-symptom/ permanent;
            rewrite ^/what-is-an-intervention.html/?$ https://$host/what-is-an-intervention/ permanent;
            rewrite ^/understanding-drug-addiction-and-denial-management.html/?$ https://$host/understanding-drug-addiction-and-denial-management/ permanent;
            rewrite ^/the-symptoms-of-post-acute-withdrawal-syndrome.html/?$ https://$host/the-symptoms-of-post-acute-withdrawal-syndrome/ permanent;
    /etc/nginx/conf.d/redirects/02.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/the-real-war-on-drugs.html/?$ https://$host/the-real-war-on-drugs/ permanent;
            rewrite ^/the-paradox-of-drug-abuse-and-euphoria.html/?$ https://$host/the-paradox-of-drug-abuse-and-euphoria/ permanent;
