files:
    /etc/nginx/conf.d/redirects/07.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/treating-addiction-with-marijuana/?$ https://$host/ permanent;
            rewrite ^/facilities-staff/staff/behavioral-health-team/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/contact-our-addiction-treatment-center/feed/?$ https://$host/ permanent;
            rewrite ^/inpatient-treatment/?$ https://$host/drug-abuse/inpatient-and-outpatient-treatment/ permanent;
            rewrite ^/benzodiazepine-detox/?$ https://$host/ permanent;
            rewrite ^/meth-detox/?$ https://$host/ permanent;
            rewrite ^/facilities-staff/outpatient-facility/?$ https://$host/ permanent;
            rewrite ^/keys-to-recovery-part-1/?$ https://$host/keys-to-recovery-part-1/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-steroids/?$ https://$host/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-meth/?$ https://$host/ permanent;
            rewrite ^/verify-my-insurance/?$ https://$host/ permanent;
            rewrite ^/sex-drugs-and-rock-n-roll/?$ https://$host/sex-drugs-and-rock-n-roll/ permanent;
            rewrite ^/how-to-identify-drugs/how-to-identify-crack-cocaine/?$ https://$host/ permanent;
            rewrite ^/what-is-a-partial-hospitalization-program/?$ https://$host/what-is-p-h-p/ permanent;
            rewrite ^/addiction-and-willpower-are-they-related/?$ https://$host/article-corner/ permanent;
            rewrite ^/aetna-insurance-for-rehab-explained/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/chicagos-2012-murder-rate-tied-to-drugs-gangs-personal-conflict/?$ https://$host/article-corner/ permanent;
            rewrite ^/depression-and-drug-addiction/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/drug-addicts-survive-rehab-hit-by-hurricane-wilma/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-testing-during-rehab-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/drugs-used-to-treat-addiction-and-alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/four-successful-therapies-for-drug-addiction-treatment/?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/hi-everyone-name/?$ https://$host/article-corner/ permanent;
            rewrite ^/inpatient-alcohol-rehab-how-it-works/?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/steroid-addiction-among-athletes/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-dui-cases-be-warned/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-facts-about-addiction-part-1/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-among-adult-college-students/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-in-iraq-war-veterans/?$ https://$host/addiction-and-alcoholism-in-vietnam-war-veterans/ permanent;
            rewrite ^/the-dangers-of-inhalants/?$ https://$host/article-corner/ permanent;
            rewrite ^/treating-addiction-as-a-matter-of-will-power/?$ https://$host/article-corner/ permanent;
            rewrite ^/welfare-reform-and-drug-abuse/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-is-soma/?$ https://$host/article-corner/ permanent;
            rewrite ^/woman-loses-arm-shoulder-and-breast-to-bath-salts-injection/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-and-alcoholism-among-public-figures/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-treatment-relapse-prevention/?$ https://$host/sober-living/ permanent;
            rewrite ^/alcohol-drugs-and-work-addiction/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/alcohol-poisoning-a-potentially-fatal-night-of-drinking/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/americans-want-drug-rehab-jail/?$ https://$host/sober-living/ permanent;
            rewrite ^/anonymous-alumni-story/?$ https://$host/article-corner/ permanent;
            rewrite ^/celebrity-drug-rehab-centers/?$ https://$host/addiction-treatment-florida/hollywood-fl/ permanent;
            rewrite ^/choosing-the-right-humana-insurance-for-rehab-plans/?$ https://$host/addiction-treatment-payment-options/obamacare/ permanent;
            rewrite ^/chris-kelly-dies-of-likely-drug-overdose/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/cocaine-and-crack-addiction/?$ https://$host/cocaine-abuse/ permanent;
            rewrite ^/couples-coming-drug-alcohol-treatment/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/dealing-with-bipolar-disorder-during-inpatient-drug-rehab/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/denial-why-alcoholics-and-drug-addicts-think-it_s-ok-to-drink-and-use-drugs/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/detox-inpatient-outpatient-and-day-night-treatment-whats-the-difference/?$ https://$host/detox/ permanent;
            rewrite ^/does-humana-insurance-for-rehab-cover-co-occurring-disorders/?$ https://$host/addiction-treatment-payment-options/ permanent;
            rewrite ^/does-insurance-cover-drug-rehab-hmo-ppo-and-pos-contracts/?$ https://$host/addiction-treatment-payment-options/ permanent;
            rewrite ^/drug-court-explained/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-delivery-methods-part-1/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/drug-rehab-for-adolescents/?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/drug-rehab-is-only-the-beginning-of-recovery/?$ https://$host/addiction-treatment-services-florida/aftercare/ permanent;
            rewrite ^/drug-rehab-the-evolutionary-basis-of-addiction/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/drug-use-in-the-us-military/?$ https://$host/article-corner/ permanent;
            rewrite ^/employee-assistance-programs-drug-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/high-functioning-drug-users/?$ https://$host/sober-living/ permanent;
            rewrite ^/how-introverts-can-succeed-during-residential-inpatient-treatment/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/is-it-possible-to-become-addicted-to-bath-salts-or-ivory-wave/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/is-outpatient-drug-rehab-the-right-choice-for-you/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/is-there-a-cure-for-alcoholism/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/lower-dopamine-levels-caused-long-term-pot-use/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-3/?$ https://$host/addiction-treatment-florida/hollywood-fl/ permanent;
            rewrite ^/myths-about-drug-abuse/?$ https://$host/sober-living/accredited/ permanent;
            rewrite ^/overcoming-the-fear-of-drug-rehab/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/paying-for-inpatient-treatment-with-blue-cross-blue-shield-ppo-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/philip-seymour-hoffmans-death-wake-call/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drug-addiction-in-the-united-states/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/relapse-the-number-oneproblem-foraddictsand-alcoholics?$ https://$host/article-corner/ permanent;
            rewrite ^/setting-up-an-alcohol-addiction-intervention-for-your-loved-one/?$ https://$host/article-corner/ permanent;
            rewrite ^/sex-drugs-and-rock-n-roll-the-real-story/?$ https://$host/article-corner/ permanent;
            rewrite ^/state-art-equipment-drug-alcohol-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/steroid-addiction-and-dependence-explained/?$ https://$host/prescription-abuse/most-popular-drugs/ permanent;
            rewrite ^/stolen-prescription-drugs-found-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-and-emotional-disorders-part-i/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-treatment-and-social-life/?$ https://$host/article-corner/ permanent;
    /etc/nginx/conf.d/redirects/08.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/substances-abuse-and-violent-crimes/?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/tag/addiction-resources/?$ https://$host/article-corner/ permanent;
            rewrite ^/tag/denial/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-big-list-of-teaticket-Elementary-School-Falmouth-Mass-phone-number-recovery-movies/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-challenges-of-drug-rehab-for-elderly-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-differences-between-addiction-and-alcoholism/?$ https://$host/alcohol-abuse/common-signs/ permanent;
            rewrite ^/the-effects-of-alcohol-on-the-body/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/the-history-of-alcoholism-in-american/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/the-history-of-alcoholism-inamerica.html/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/the-history-of-heroin-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-legal-consequences-of-drug-addiction/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/the-paradox-of-drug-abuse-and-euphoria/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/the-relationship-between-drug-addiction-and-schizophrenia/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/the-role-of-dopamine-in-addiction-and-drug-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/the-secrets-to-long-term-recovery-from-addiction-or-alcoholism.html/?$ https://$host/detox/ permanent;
            rewrite ^/the-symptoms-of-post-acute-withdrawal-syndrome/?wb48617274=2D129718/?$ https://$host/addiction-treatment-services-florida/therapy-types/ permanent;
            rewrite ^/the-use-of-dialectical-behavior-therapy-during-florida-inpatient-treatment/?$ https://$host/what-is-flakka/ permanent;
            rewrite ^/the-war-against-synthetic-drugs/?$ https://$host/alcohol-abuse/inpatient-rehab/ permanent;
            rewrite ^/treatment-options-for-alcoholism/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/understanding-drug-addiction-and-denial-management/Accessed09/26/2011/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/understanding-dual-diagnosis-for-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/therapy-types/ permanent;
            rewrite ^/understanding-reality-based-theray-for-addiction/?$ https://$host/addiction-treatment-services-florida/therapy-types/ permanent;
            rewrite ^/using-exercise-as-part-of-drug-rehab-success/?$ https://$host/addiction-treatment-services-florida/therapy-types/ permanent;
            rewrite ^/what-is-a-residential-inpatient-program/?$ https://$host/detox/ permanent;
            rewrite ^/why-going-away-for-drug-rehab-works/?$ https://$host/article-corner/ permanent;
            rewrite ^/why-many-drug-rehab-clinicians-are-also-recovering-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/brain-changes-young-marijuana-users/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/physicians-leading-source-prescription-opioids/?$ https://$host/article-corner/ permanent;
            rewrite ^/state-funded-addiction-treatment-peril/?$ https://$host/article-corner/ permanent;
            rewrite ^/simple-test-might-predict-addiction-treatment-victory/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/heroin-drug-abuse-continues-explode/?$ https://$host/article-corner/ permanent;
            rewrite ^/prescription-drug-addiction-and-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-family-affair/?$ https://$host/article-corner/ permanent;
            rewrite ^/looking-drug-detox-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/honest-call-drug-rehab/?$ https://$host/cocaine-abuse/ permanent;
            rewrite ^/cocaine-use-might-increase-hiv-vulnerability/?$ https://$host/article-corner/ permanent;
            rewrite ^/dealing-court-issues-florida-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/paws-addiction-treatment-complex-little-known-obstacle-recovery/?$ https://$host/article-corner/ permanent;
            rewrite ^/dont-understand-injured/?$ https://$host/article-corner/ permanent;
            rewrite ^/holidays-increase-drug-alcohol-intake/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/parents-fight-drug-rehab-paid-insurance/?$ https://$host/synthetic-marijuana/ permanent;
            rewrite ^/synthetic-drugs-overtaking-hospitals/?$ https://$host/marijuana-rehab/is-weed-legal-in-florida/ permanent;
            rewrite ^/colorado-to-allow-recreational-marijuana-use/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/clients-poem/?$ https://$host/article-corner/ permanent;
            rewrite ^/are-facebook-users-prone-to-drug-abuse/?$ https://$host/article-corner/ permanent;
            rewrite ^/are-us-school-shootings-drug-fueled/?$ https://$host/article-corner/ permanent;
            rewrite ^/recent-successes-of-the-war-on-drugs/?$ https://$host/article-corner/ permanent;
            rewrite ^/when-seniors-turn-to-drugs/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-testing-methods/?$ https://$host/synthetic-marijuana/ permanent;
            rewrite ^/the-story-of-designer-drugs/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-abuse-and-treatment-in-the-military/?$ https://$host/detox/medications/ permanent;
            rewrite ^/medication-and-behavioral-therapy-for-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/legalizing-pot/?$ https://$host/alcohol-abuse/common-signs/ permanent;
            rewrite ^/the-definition-of-alcoholism/?$ https://$host/article-corner/ permanent;
            rewrite ^/worldwide-drug-tourism/?$ https://$host/article-corner/ permanent;
            rewrite ^/lsd-addiction-and-dependence/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/the-effects-of-heroin/?$ https://$host/article-corner/ permanent;
            rewrite ^/banned-substances-and-olympic-doping-consequences/?$ https://$host/article-corner/ permanent;
            rewrite ^/six-common-questions-about-residential-inpatient-treatment/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/alcohol-liver-disease-explained/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/drug-abuse-related-diseases/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-use-in-high-school/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-ii-dangerous-locations/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/inpatient-drug-treatment-for-study-aids/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/inhalant-abuse-and-dependence/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/the-real-war-on-drugs/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/helpful-resources-for-alcoholism/?$ https://$host/article-corner/ permanent;
            rewrite ^/10-little-resolutions-to-help-prevent-relapse-in-2013/?$ https://$host/article-corner/ permanent;
            rewrite ^/important-us-acts-governing-drugs-and-substance-abuse/?$ https://$host/article-corner/ permanent;
            rewrite ^/reality-therapy-for-inpatient-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-use-among-minority-groups/?$ https://$host/cocaine-abuse/ permanent;
            rewrite ^/drug-rehab-in-florida-the-miami-cocaine-trade/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/what-is-drug-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/rogers-clemens-returns-to-court-on-drug-charges/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-addiction-counselor-explained/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-debate-on-internet-addiction-disorder/?$ https://$host/article-corner/ permanent;
            rewrite ^/client-testimonial-walked-recovery-first-first-time/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/treating-addiction-with-co-occurring-conditions/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/marijuana-more-popular-among-teens-than-cigarettes/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-death-of-whitney-houston-was-it-drug-or-alcohol-related/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/america-strongly-encourages-alcohol-consumption/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/employers-can-fire-pot-smokers-legal-use/?$ https://$host/article-corner/ permanent;
            rewrite ^/surviving-holidays/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-a-f/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/clinical-rehab-for-heroin-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-to-do-about-drug-use-in-the-work-place/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/much-pain-medication/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-a-pavlovian-response-to-drugs-and-alcohol/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/oxycontin-addiction-and-dependence/?$ https://$host/detox/ permanent;
            rewrite ^/looking-drug-detox/?$ https://$host/article-corner/ permanent;
            rewrite ^/recovery-first-testimonial-2/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/what-you-need-to-know-about-blue-cross-blue-shield-ppo-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-t-z/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/recovering-from-addiction-with-united-behavioral-health-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-g-m/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/overcoming-addiction-with-blue-cross-substance-abuse-insurance/?$ https://$host/article-corner/ permanent;
            rewrite ^/avoiding-sex-related-relapse-florida-drug-treatment/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/managing-alcoholism-with-lifesynch-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/florida-inpatient-treatment-for-sleeping-pills/?$ https://$host/article-corner/ permanent;
            rewrite ^/treatment-for-non-drug-addictions/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/finding-coverage-through-managed-care-concepts-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/inpatient-drug-rehab-for-mushrooms-and-other-hallucinogens/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/treating-prescription-drug-addiction-with-lifesynch-insurance-for-rehab/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/keeping-your-job-with-compsych-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/dealing-with-addictive-personalities-during-inpatient-drug-treatment/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/saving-on-drug-treatment-with-value-options-insurance-for-rehab/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-n-s/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/painkiller-deaths-on-the-rise/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-use-of-music-therapy-during-residential-inpatient-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/us-drug-control-policy/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/getting-magellan-substance-abuse-insurance-through-your-employer/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-for-celebrities-is-it-legitimate/?$ https://$host/article-corner/ permanent;
            rewrite ^/detox-centers-shutting/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/daily-life-in-a-residential-inpatient-substance-abuse-treatment-center/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/five-ways-to-pay-for-inpatient-drug-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/how-addiction-probably-killed-amy-winehouse/?$ https://$host/suboxone-abuse/ permanent;
            rewrite ^/drug-addiction-treatment-and-suboxone/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/club-drug-addictions-a-new-generation-of-addicts/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/bipolar-disorder-and-addiction/?$ https://$host/drug-abuse/bath-salts/ permanent;
            rewrite ^/bath-salt-abuse-increasing/?$ https://$host/article-corner/ permanent;
            rewrite ^/indoor-marijuana-grow-operations-on-the-rise/?$ https://$host/article-corner/ permanent;
            rewrite ^/how-drug-rehab-can-help-military-veterans/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drugs-the-dangers/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/finding-relief-from-oxycontin-addiction/?$ https://$host/detox/methadone/ permanent;
            rewrite ^/detox-and-treatment-for-methadone/?$ https://$host/article-corner/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-getting-help-for-an-elderly-addict/?$ https://$host/article-corner/ permanent;
            rewrite ^/do-addicted-infants-need-drug-rehab/?$ https://$host/addiction-treatment-services-florida/aftercare/ permanent;
            rewrite ^/are-you-still-an-addict-after-inpatient-drug-treatment/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/decoding-the-complexities-of-blue-cross-blue-shield-federal-insurance-for-rehab/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/cigna-insurance-for-rehab-your-options-as-an-employee/?$ https://$host/addiction-treatment-services-florida/aftercare/ permanent;
            rewrite ^/six-ways-to-avoid-alcohol-after-residential-inpatient-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-early-history-of-cocaine/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/are-you-covered-by-blue-cross-substance-abuse-insurance/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/residential-inpatient-treatment-for-addicts-around-the-world/?$ https://$host/addiction-treatment-florida/hollywood-fl/ permanent;
            rewrite ^/choosing-the-right-clinic-for-inpatient-drug-treatment/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/how-drinking-games-culture-can-lead-to-alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/what-you-can-expect-from-alcohol-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-symptoms-and-effects-of-marijuana-dependence/?$ https://$host/article-corner/ permanent;
            rewrite ^/laugh-and-cry-your-way-to-recovery-from-addiction-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/understanding-twelve-step-drug-rehab-programs/?$ https://$host/article-corner/ permanent;
            rewrite ^/paying-for-addiction-treatment-without-insurance/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-treatment-insurance-making-the-most-of-your-coverage/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-importance-of-quality-sleep-for-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/leaving-your-home-state-for-drug-rehab-in-florida/?$ https://$host/alcohol-abuse/ permanent;
    /etc/nginx/conf.d/redirects/09.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/drinking-hand-sanitizer-to-get-drunk.html/?$ https://$host/blog/drinking-hand-sanitizer-to-get-drunk/ permanent;
            rewrite ^/enrolling-your-loved-one-in-a-drug-rehab-center-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-use-of-rational-emotive-behavior-therapy-during-drug-treatment-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/ten-items-you-should-bring-to-drug-treatment-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-tourism-explained/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/cigna-substance-abuse-insurance-coverage-for-teenage-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/does-insurance-cover-drug-rehab-difficulties-in-paying-for-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/worldwide-drug-laws/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-is-rapid-drug-detoxification-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/modern-youth-drug-abuse-trends/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/the-services-provided-by-managed-care-concepts-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/powerful-drug-cartels-collaborate-in-central-america/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/five-signs-you-need-alcohol-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/drug-addiction-treatment-for-teenagers/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-facts-about-addiction-part-4/?$ https://$host/article-corner/ permanent;
            rewrite ^/new-york-drug-rehab-the-recent-history-of-new-yorks-drug-laws/?$ https://$host/article-corner/ permanent;
            rewrite ^/us-population-accustomed-to-quitting-drugs/?$ https://$host/article-corner/ permanent;
            rewrite ^/employer-provided-coverage-with-managed-health-network-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/day-night-drug-rehab-programs/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-facts-about-addiction-part-3/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/drug-addiction-treatment-for-opiates/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/inpatient-programs-for-alcohol-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/group-based-treatments-for-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/should-drug-testing-be-a-requirement-for-welfare-benefits/?$ https://$host/article-corner/ permanent;
            rewrite ^/gambling-and-drug-addiction-are-they-related/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-and-veterans-prescription-drug-availability/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-in-the-workplace/?$ https://$host/detox/ permanent;
            rewrite ^/medically-monitored-withdrawal-at-a-florida-drug-rehab-center/?$ https://$host/article-corner/ permanent;
            rewrite ^/seeking-drug-rehab-for-elderly-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-effects-of-family-members-on-addicts-recoveries/?$ https://$host/article-corner/ permanent;
            rewrite ^/education-while-attending-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-becomes-recruiting-fodder-for-somali-militants/?$ https://$host/article-corner/ permanent;
            rewrite ^/using-exercise-for-alcohol-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-for-professional-educators/?$ https://$host/article-corner/ permanent;
            rewrite ^/when-good-drugs-get-a-bad-reputation-part-iii/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-and-nutrition/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-romantic-life-after-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-to-ask-when-choosing-a-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-treatment-for-less-addictive-substances/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcohol-addiction-treatment-the-road-to-recovery/?$ https://$host/article-corner/ permanent;
            rewrite ^/teen-drug-use-where-should-parents-draw-the-line/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-1/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-understanding-drug-addiction-treatment-types/?$ https://$host/article-corner/ permanent;
            rewrite ^/drugs-as-study-aids-a-serious-academic-threat/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/types-of-therapy-at-an-addiction-or-alcohol-rehab-program/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/substance-abuse-and-emotional-disorders-part-ii/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/how-residential-inpatient-treatment-programs-help-overcome-drug-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/intravenous-drug-abuse-explained-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/ecstasy-making-a-comeback/?$ https://$host/article-corner/ permanent;
            rewrite ^/using-drugs-as-study-aids/?$ https://$host/article-corner/ permanent;
            rewrite ^/superbowl-sunday-2012-how-to-not-drink-part-ii/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-dangers-of-alcohol-and-energy-drinks/?$ https://$host/detox/ permanent;
            rewrite ^/dependence-on-addiction-treatment-medications/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcohol-use-and-alcoholism-in-the-workplace/?$ https://$host/article-corner/ permanent;
            rewrite ^/fetal-alcohol-syndrome/?$ https://$host/detox/dangers-at-home/ permanent;
            rewrite ^/detoxing-from-drugs-or-alcohol-at-home-is-it-safe/?$ https://$host/detox/ permanent;
            rewrite ^/professional-detox-or-cold-turkey/?$ https://$host/article-corner/ permanent;
            rewrite ^/gateway-drugs-and-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/drugs-and-religion/?$ https://$host/article-corner/ permanent;
            rewrite ^/methadone-risks-and-benefits/?$ https://$host/article-corner/ permanent;
            rewrite ^/increase-in-older-addicts-alcoholics-cause-for-concern/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/addiction-treatment-whats-individual-therapy-all-about/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-and-pregnancy/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcoholism-in-the-armed-forces/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/recovery-from-addiction-and-alcoholism-paying-it-forward/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/important-details-on-blue-cross-blue-shield-ppo-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/drug-treatment-therapies/?$ https://$host/article-corner/ permanent;
            rewrite ^/is-willpower-a-factor-during-inpatient-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/when-good-drugs-get-a-bad-reputation-part-ii/?$ https://$host/article-corner/ permanent;
            rewrite ^/changing-attitudes-towards-inpatient-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/getting-quality-cigna-insurance-for-rehab-and-detox-programs/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-4/?$ https://$host/article-corner/ permanent;
            rewrite ^/post-holiday-tips-for-people-in-recovery/?$ https://$host/article-corner/ permanent;
            rewrite ^/superbowl-sunday-2012-how-to-not-drink-part-i/?$ https://$host/article-corner/ permanent;
            rewrite ^/questions-unanswered-in-peru-drug-rehab-fire/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/the-need-for-alcohol-addiction-treatment-for-medical-doctors/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drug-addiction-in-the-us/?$ https://$host/article-corner/ permanent;
            rewrite ^/health-care-and-addiction-treatment/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/drug-abuse/kratom/?$ https://$host/kratom-abuse/ permanent;
            rewrite ^/prescription-abuse/oxycontin/?$ https://$host/oxycontin/ permanent;
            rewrite ^/west-palm-beach/?$ https://$host/florida-treatment/palm-beach/ permanent;
            rewrite ^/west-treatment-services/?$ https://$host/florida-treatment/palm-beach/ permanent;
            rewrite ^/my-true-story-of-robitussin-addiction/?$ https://$host/blog/my-true-story-of-robitussin-addiction/ permanent;
            rewrite ^/busted-fl-man-lies-to-wife-to-cover-up-drug-purchase/?$ https://$host/blog/busted-fl-man-lies-to-wife-to-cover-up-drug-purchase/ permanent;
            rewrite ^/the-south-american-cocaine-trade/?$ https://$host/blog/the-south-american-cocaine-trade/ permanent;
            rewrite ^/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/?$ https://$host/blog/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/ permanent;
            rewrite ^/the-facts-about-meth-addiction-in-the-us/?$ https://$host/blog/the-facts-about-meth-addiction-in-the-us/ permanent;
            rewrite ^/the-symptoms-of-post-acute-withdrawal-syndrome/?$ https://$host/blog/the-symptoms-of-post-acute-withdrawal-syndrome/ permanent;
            rewrite ^/what-to-do-when-your-sober/?$ https://$host/blog/what-to-do-when-your-sober/ permanent;
            rewrite ^/25-drug-overdoses-in-3-days/?$ https://$host/blog/25-drug-overdoses-in-3-days/ permanent;
            rewrite ^/federal-funds-will-help-fight-heroin-epidemic/?$ https://$host/blog/federal-funds-will-help-fight-heroin-epidemic/ permanent;
            rewrite ^/have-to-be-drunk-to-get-a-dui/?$ https://$host/blog/have-to-be-drunk-to-get-a-dui/ permanent;
            rewrite ^/cocaine-through-the-ages/?$ https://$host/blog/cocaine-through-the-ages/ permanent;
            rewrite ^/detoxification-and-acute-withdrawal-explained/?$ https://$host/blog/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/prescription-drug-abuse-epidemic-are-doctors-to-blame/?$ https://$host/blog/prescription-drug-abuse-epidemic-are-doctors-to-blame/ permanent;
            rewrite ^/burning-brain-tissue-a-cure-for-drug-addiction/?$ https://$host/blog/burning-brain-tissue-a-cure-for-drug-addiction/ permanent;
            rewrite ^/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids/?$ https://$host/blog/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/?$ https://$host/blog/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/fl-sheriff-is-not-a-fan-of-the-tostitos-party-safe-bags/?$ https://$host/blog/fl-sheriff-is-not-a-fan-of-the-tostitos-party-safe-bags/ permanent;
            rewrite ^/lies-lies-and-more-lies-addiction-law-enforcement-and-making-a-bad-situation-worse/?$ https://$host/blog/lies-lies-and-more-lies-addiction-law-enforcement-and-making-a-bad-situation-worse/ permanent;
            rewrite ^/bad-dope-alert-10-die-of-drug-overdoses-in-one-day-in-florida/?$ https://$host/blog/bad-dope-alert-10-die-of-drug-overdoses-in-one-day-in-florida/ permanent;
            rewrite ^/being-a-good-friend-how-to-support-someone-in-addiction-treatment-and-recovery/?$ https://$host/blog/being-a-good-friend-how-to-support-someone-in-addiction-treatment-and-recovery/ permanent;
            rewrite ^/addiction-my-loneliness-disease/?$ https://$host/blog/addiction-my-loneliness-disease/ permanent;
            rewrite ^/how-long-should-you-stay-in-addiction-treatment/?$ https://$host/blog/how-long-should-you-stay-in-addiction-treatment/ permanent;
            rewrite ^/fl-mom-charged-with-giving-alcohol-and-sexual-favors-to-minors/?$ https://$host/blog/fl-mom-charged-with-giving-alcohol-and-sexual-favors-to-minors/ permanent;
            rewrite ^/treatment-instead-of-prison-how-florida-is-becoming-part-of-the-solution/?$ https://$host/blog/treatment-instead-of-prison-how-florida-is-becoming-part-of-the-solution/ permanent;
            rewrite ^/are-drug-dealers-murderers-proposed-florida-law-says-yes/?$ https://$host/blog/are-drug-dealers-murderers-proposed-florida-law-says-yes/ permanent;
            rewrite ^/top-5-jobs-to-avoid-in-addiction-treatment-and-recovery/?$ https://$host/blog/top-5-jobs-to-avoid-in-addiction-treatment-and-recovery/ permanent;
            rewrite ^/managing-grief-in-recovery-onepulse/?$ https://$host/blog/managing-grief-in-recovery-onepulse/ permanent;
            rewrite ^/self-medication-and-substance-use-disorders/?$ https://$host/blog/self-medication-and-substance-use-disorders/ permanent;
            rewrite ^/president-obama-commuted-the-sentence-of-17-more-floridians/?$ https://$host/blog/president-obama-commuted-the-sentence-of-17-more-floridians/ permanent;
            rewrite ^/heiress-donates-to-fight-medical-marijuana-in-florida/?$ https://$host/blog/heiress-donates-to-fight-medical-marijuana-in-florida/ permanent;
            rewrite ^/10-research-based-ways-to-feel-happier-in-recovery/?$ https://$host/blog/10-research-based-ways-to-feel-happier-in-recovery/ permanent;
            rewrite ^/3-things-that-may-help-to-beat-opiate-addiction/?$ https://$host/blog/3-things-that-may-help-to-beat-opiate-addiction/ permanent;
            rewrite ^/new-florida-law-creates-minimum-legal-age-for-purchasing-cough-syrup/?$ https://$host/blog/new-florida-law-creates-minimum-legal-age-for-purchasing-cough-syrup/ permanent;
            rewrite ^/war-drugs-statistics/?$ https://$host/blog/war-drugs-statistics/ permanent;
            rewrite ^/is-marijuana-a-gateway-drug/?$ https://$host/blog/is-marijuana-a-gateway-drug/ permanent;
            rewrite ^/9-things-marijuana-addiction/?$ https://$host/blog/9-things-marijuana-addiction/ permanent;
            rewrite ^/colorado-ground-zero-marijuana-addiction/?$ https://$host/blog/colorado-ground-zero-marijuana-addiction/ permanent;
            rewrite ^/what-happens-when-drug-treatment-is-interrupted/?$ https://$host/blog/what-happens-when-drug-treatment-is-interrupted/ permanent;
            rewrite ^/what-to-do-with-your-pets-during-drug-rehab/?$ https://$host/blog/what-to-do-with-your-pets-during-drug-rehab/ permanent;
            rewrite ^/drug-addicts-look-like-junkies/?$ https://$host/blog/drug-addicts-look-like-junkies/ permanent;
            rewrite ^/heroin-addiction-epidemic/?$ https://$host/blog/heroin-addiction-epidemic/ permanent;
            rewrite ^/sports-energy-drinks-new-type-gateway-drug/?$ https://$host/blog/sports-energy-drinks-new-type-gateway-drug/ permanent;
            rewrite ^/alcoholism-and-sports/?$ https://$host/blog/alcoholism-and-sports/ permanent;
            rewrite ^/drug-abuse-and-employee-morality-clauses/?$ https://$host/blog/drug-abuse-and-employee-morality-clauses/ permanent;
            rewrite ^/studying-drug-detox-massachusetts/?$ https://$host/blog/studying-drug-detox-massachusetts/ permanent;
            rewrite ^/fall-in-love-with-recovery/?$ https://$host/blog/fall-in-love-with-recovery/ permanent;
            rewrite ^/leaving-recovery-first-residential-treatment/?$ https://$host/blog/leaving-recovery-first-residential-treatment/ permanent;
            rewrite ^/understanding-drug-addiction-and-denial-management/?$ https://$host/blog/understanding-drug-addiction-and-denial-management/ permanent;
            rewrite ^/recovery-first-testimonial/?$ https://$host/blog/recovery-first-testimonial/ permanent;
            rewrite ^/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/?$ https://$host/blog/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/ permanent;
            rewrite ^/parents-are-losing-their-kids-over-marijuana/?$ https://$host/blog/parents-are-losing-their-kids-over-marijuana/ permanent;
            rewrite ^/world-history-of-drug-use/?$ https://$host/blog/world-history-of-drug-use/ permanent;
            rewrite ^/how-proposed-gun-control-will-affect-people-in-recovery/?$ https://$host/blog/how-proposed-gun-control-will-affect-people-in-recovery/ permanent;
            rewrite ^/how-pot-brownies-can-ruin-your-life/?$ https://$host/blog/how-pot-brownies-can-ruin-your-life/ permanent;
            rewrite ^/the-big-list-of-addiction-recovery-movies/?$ https://$host/blog/the-big-list-of-addiction-recovery-movies/ permanent;
            rewrite ^/kratom-a-new-old-way-to-get-high/?$ https://$host/blog/kratom-a-new-old-way-to-get-high/ permanent;
            rewrite ^/soaking-tampons-in-vodka-the-facts/?$ https://$host/blog/soaking-tampons-in-vodka-the-facts/ permanent;
            rewrite ^/the-7-types-of-symptoms-of-protracted-withdrawal/?$ https://$host/blog/the-7-types-of-symptoms-of-protracted-withdrawal/ permanent;
            rewrite ^/cardinal-rules-of-drug-rehab-centers/?$ https://$host/blog/cardinal-rules-of-drug-rehab-centers/ permanent;
            rewrite ^/you-could-be-liable-for-your-friends-drug-related-death/?$ https://$host/blog/you-could-be-liable-for-your-friends-drug-related-death/ permanent;
            rewrite ^/understanding-neurotransmitters-and-substance-abuse/?$ https://$host/blog/understanding-neurotransmitters-and-substance-abuse/ permanent;
            rewrite ^/drug-tolerance-the-7-clinical-types/?$ https://$host/blog/drug-tolerance-the-7-clinical-types/ permanent;
