files:
    /etc/nginx/conf.d/redirects/07.conf:
        mode: '000644'
        owner: root
        group: root
        content: |

    /etc/nginx/conf.d/redirects/08.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3413
            rewrite ^/medication-and-behavioral-therapy-for-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/legalizing-pot/?$ https://$host/alcohol-abuse/common-signs/ permanent;
            rewrite ^/lsd-addiction-and-dependence/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/alcohol-liver-disease-explained/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-ii-dangerous-locations/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/the-real-war-on-drugs/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/important-us-acts-governing-drugs-and-substance-abuse/?$ https://$host/article-corner/ permanent;
            rewrite ^/reality-therapy-for-inpatient-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-in-florida-the-miami-cocaine-trade/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/rogers-clemens-returns-to-court-on-drug-charges/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-debate-on-internet-addiction-disorder/?$ https://$host/article-corner/ permanent;
            rewrite ^/treating-addiction-with-co-occurring-conditions/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/marijuana-more-popular-among-teens-than-cigarettes/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-death-of-whitney-houston-was-it-drug-or-alcohol-related/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/substance-abuse-and-drug-rehab-glossary-a-f/?$ https://$host/heroin-rehab/ permanent;
            rewrite ^/clinical-rehab-for-heroin-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-a-pavlovian-response-to-drugs-and-alcohol/?$ https://$host/prescription-opioids/oxycontin/ permanent;
            rewrite ^/managing-alcoholism-with-lifesynch-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/treatment-for-non-drug-addictions/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/treating-prescription-drug-addiction-with-lifesynch-insurance-for-rehab/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/keeping-your-job-with-compsych-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/dealing-with-addictive-personalities-during-inpatient-drug-treatment/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/painkiller-deaths-on-the-rise/?$ https://$host/article-corner/ permanent;
            rewrite ^/us-drug-control-policy/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/drug-rehab-for-celebrities-is-it-legitimate/?$ https://$host/article-corner/ permanent;
            rewrite ^/daily-life-in-a-residential-inpatient-substance-abuse-treatment-center/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/how-addiction-probably-killed-amy-winehouse/?$ https://$host/suboxone-abuse/ permanent;
            rewrite ^/drug-addiction-treatment-and-suboxone/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/club-drug-addictions-a-new-generation-of-addicts/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/bipolar-disorder-and-addiction/?$ https://$host/drug-abuse/bath-salts/ permanent;
            rewrite ^/bath-salt-abuse-increasing/?$ https://$host/article-corner/ permanent;
            rewrite ^/indoor-marijuana-grow-operations-on-the-rise/?$ https://$host/article-corner/ permanent;
            rewrite ^/how-drug-rehab-can-help-military-veterans/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drugs-the-dangers/?$ https://$host/prescription-abuse/oxycontin/ permanent;
            rewrite ^/finding-relief-from-oxycontin-addiction/?$ https://$host/detox/methadone/ permanent;
            rewrite ^/illicit-drugs-youve-never-heard-of/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-getting-help-for-an-elderly-addict/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-early-history-of-cocaine/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/are-you-covered-by-blue-cross-substance-abuse-insurance/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/how-drinking-games-culture-can-lead-to-alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/what-you-can-expect-from-alcohol-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-symptoms-and-effects-of-marijuana-dependence/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-importance-of-quality-sleep-for-drug-rehab/?$ https://$host/article-corner/ permanent;
    /etc/nginx/conf.d/redirects/09.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/drinking-hand-sanitizer-to-get-drunk.html/?$ https://$host/blog/drinking-hand-sanitizer-to-get-drunk/ permanent;
            rewrite ^/enrolling-your-loved-one-in-a-drug-rehab-center-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-use-of-rational-emotive-behavior-therapy-during-drug-treatment-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/ten-items-you-should-bring-to-drug-treatment-in-florida/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-tourism-explained/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/cigna-substance-abuse-insurance-coverage-for-teenage-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/does-insurance-cover-drug-rehab-difficulties-in-paying-for-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/worldwide-drug-laws/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-is-rapid-drug-detoxification-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/modern-youth-drug-abuse-trends/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/the-services-provided-by-managed-care-concepts-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/powerful-drug-cartels-collaborate-in-central-america/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/five-signs-you-need-alcohol-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/drug-addiction-treatment-for-teenagers/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-facts-about-addiction-part-4/?$ https://$host/article-corner/ permanent;
            rewrite ^/new-york-drug-rehab-the-recent-history-of-new-yorks-drug-laws/?$ https://$host/article-corner/ permanent;
            rewrite ^/us-population-accustomed-to-quitting-drugs/?$ https://$host/article-corner/ permanent;
            rewrite ^/employer-provided-coverage-with-managed-health-network-insurance-for-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/day-night-drug-rehab-programs/?$ https://$host/article-corner/ permanent;
            rewrite ^/strange-facts-about-addiction-part-3/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/drug-addiction-treatment-for-opiates/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/inpatient-programs-for-alcohol-addiction-treatment/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/group-based-treatments-for-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/should-drug-testing-be-a-requirement-for-welfare-benefits/?$ https://$host/article-corner/ permanent;
            rewrite ^/gambling-and-drug-addiction-are-they-related/?$ https://$host/article-corner/ permanent;
            rewrite ^/addiction-and-veterans-prescription-drug-availability/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-in-the-workplace/?$ https://$host/detox/ permanent;
            rewrite ^/medically-monitored-withdrawal-at-a-florida-drug-rehab-center/?$ https://$host/article-corner/ permanent;
            rewrite ^/seeking-drug-rehab-for-elderly-addicts/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-effects-of-family-members-on-addicts-recoveries/?$ https://$host/article-corner/ permanent;
            rewrite ^/education-while-attending-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-becomes-recruiting-fodder-for-somali-militants/?$ https://$host/article-corner/ permanent;
            rewrite ^/using-exercise-for-alcohol-addiction-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-for-professional-educators/?$ https://$host/article-corner/ permanent;
            rewrite ^/when-good-drugs-get-a-bad-reputation-part-iii/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-and-nutrition/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-romantic-life-after-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/what-to-ask-when-choosing-a-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-treatment-for-less-addictive-substances/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcohol-addiction-treatment-the-road-to-recovery/?$ https://$host/article-corner/ permanent;
            rewrite ^/teen-drug-use-where-should-parents-draw-the-line/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-1/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-rehab-understanding-drug-addiction-treatment-types/?$ https://$host/article-corner/ permanent;
            rewrite ^/drugs-as-study-aids-a-serious-academic-threat/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/types-of-therapy-at-an-addiction-or-alcohol-rehab-program/?$ https://$host/co-occuring-disorders/ permanent;
            rewrite ^/substance-abuse-and-emotional-disorders-part-ii/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/how-residential-inpatient-treatment-programs-help-overcome-drug-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/intravenous-drug-abuse-explained-part-2/?$ https://$host/article-corner/ permanent;
            rewrite ^/ecstasy-making-a-comeback/?$ https://$host/article-corner/ permanent;
            rewrite ^/using-drugs-as-study-aids/?$ https://$host/article-corner/ permanent;
            rewrite ^/superbowl-sunday-2012-how-to-not-drink-part-ii/?$ https://$host/article-corner/ permanent;
            rewrite ^/the-dangers-of-alcohol-and-energy-drinks/?$ https://$host/detox/ permanent;
            rewrite ^/dependence-on-addiction-treatment-medications/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcohol-use-and-alcoholism-in-the-workplace/?$ https://$host/article-corner/ permanent;
            rewrite ^/fetal-alcohol-syndrome/?$ https://$host/detox/dangers-at-home/ permanent;
            rewrite ^/detoxing-from-drugs-or-alcohol-at-home-is-it-safe/?$ https://$host/detox/ permanent;
            rewrite ^/professional-detox-or-cold-turkey/?$ https://$host/article-corner/ permanent;
            rewrite ^/gateway-drugs-and-addiction/?$ https://$host/article-corner/ permanent;
            rewrite ^/drugs-and-religion/?$ https://$host/article-corner/ permanent;
            rewrite ^/methadone-risks-and-benefits/?$ https://$host/article-corner/ permanent;
            rewrite ^/increase-in-older-addicts-alcoholics-cause-for-concern/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/addiction-treatment-whats-individual-therapy-all-about/?$ https://$host/article-corner/ permanent;
            rewrite ^/drug-addiction-and-pregnancy/?$ https://$host/article-corner/ permanent;
            rewrite ^/alcoholism-in-the-armed-forces/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/recovery-from-addiction-and-alcoholism-paying-it-forward/?$ https://$host/drug-abuse/how-to-pay/ permanent;
            rewrite ^/important-details-on-blue-cross-blue-shield-ppo-insurance-for-rehab/?$ https://$host/addiction-treatment-services-florida/ permanent;
            rewrite ^/drug-treatment-therapies/?$ https://$host/article-corner/ permanent;
            rewrite ^/is-willpower-a-factor-during-inpatient-treatment/?$ https://$host/article-corner/ permanent;
            rewrite ^/when-good-drugs-get-a-bad-reputation-part-ii/?$ https://$host/article-corner/ permanent;
            rewrite ^/changing-attitudes-towards-inpatient-drug-rehab/?$ https://$host/article-corner/ permanent;
            rewrite ^/getting-quality-cigna-insurance-for-rehab-and-detox-programs/?$ https://$host/article-corner/ permanent;
            rewrite ^/making-time-for-recovery-part-4/?$ https://$host/article-corner/ permanent;
            rewrite ^/post-holiday-tips-for-people-in-recovery/?$ https://$host/article-corner/ permanent;
            rewrite ^/superbowl-sunday-2012-how-to-not-drink-part-i/?$ https://$host/article-corner/ permanent;
            rewrite ^/questions-unanswered-in-peru-drug-rehab-fire/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/the-need-for-alcohol-addiction-treatment-for-medical-doctors/?$ https://$host/prescription-abuse/ permanent;
            rewrite ^/prescription-drug-addiction-in-the-us/?$ https://$host/article-corner/ permanent;
            rewrite ^/health-care-and-addiction-treatment/?$ https://$host/marijuana-rehab/ permanent;
            rewrite ^/drug-abuse/kratom/?$ https://$host/kratom-abuse/ permanent;
            rewrite ^/prescription-abuse/oxycontin/?$ https://$host/oxycontin/ permanent;
            rewrite ^/west-palm-beach/?$ https://$host/florida-treatment/palm-beach/ permanent;
            rewrite ^/west-treatment-services/?$ https://$host/florida-treatment/palm-beach/ permanent;
            rewrite ^/my-true-story-of-robitussin-addiction/?$ https://$host/blog/my-true-story-of-robitussin-addiction/ permanent;
            rewrite ^/busted-fl-man-lies-to-wife-to-cover-up-drug-purchase/?$ https://$host/blog/busted-fl-man-lies-to-wife-to-cover-up-drug-purchase/ permanent;
            rewrite ^/the-south-american-cocaine-trade/?$ https://$host/blog/the-south-american-cocaine-trade/ permanent;
            rewrite ^/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/?$ https://$host/blog/why-drug-rehab-works-a-rebuttal-to-the-new-york-times/ permanent;
            rewrite ^/the-facts-about-meth-addiction-in-the-us/?$ https://$host/blog/the-facts-about-meth-addiction-in-the-us/ permanent;
            rewrite ^/the-symptoms-of-post-acute-withdrawal-syndrome/?$ https://$host/blog/the-symptoms-of-post-acute-withdrawal-syndrome/ permanent;
            rewrite ^/what-to-do-when-your-sober/?$ https://$host/blog/what-to-do-when-your-sober/ permanent;
            rewrite ^/25-drug-overdoses-in-3-days/?$ https://$host/blog/25-drug-overdoses-in-3-days/ permanent;
            rewrite ^/federal-funds-will-help-fight-heroin-epidemic/?$ https://$host/blog/federal-funds-will-help-fight-heroin-epidemic/ permanent;
            rewrite ^/have-to-be-drunk-to-get-a-dui/?$ https://$host/blog/have-to-be-drunk-to-get-a-dui/ permanent;
            rewrite ^/cocaine-through-the-ages/?$ https://$host/blog/cocaine-through-the-ages/ permanent;
            rewrite ^/detoxification-and-acute-withdrawal-explained/?$ https://$host/blog/detoxification-and-acute-withdrawal-explained/ permanent;
            rewrite ^/prescription-drug-abuse-epidemic-are-doctors-to-blame/?$ https://$host/blog/prescription-drug-abuse-epidemic-are-doctors-to-blame/ permanent;
            rewrite ^/burning-brain-tissue-a-cure-for-drug-addiction/?$ https://$host/blog/burning-brain-tissue-a-cure-for-drug-addiction/ permanent;
            rewrite ^/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids/?$ https://$host/blog/morphine-heroin-and-methadone-treating-opioid-addiction-with-opioids/ permanent;
            rewrite ^/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/?$ https://$host/blog/inpatient-treatment-for-legal-drugs-part-i-substances-of-abuse/ permanent;
            rewrite ^/fl-sheriff-is-not-a-fan-of-the-tostitos-party-safe-bags/?$ https://$host/blog/fl-sheriff-is-not-a-fan-of-the-tostitos-party-safe-bags/ permanent;
            rewrite ^/lies-lies-and-more-lies-addiction-law-enforcement-and-making-a-bad-situation-worse/?$ https://$host/blog/lies-lies-and-more-lies-addiction-law-enforcement-and-making-a-bad-situation-worse/ permanent;
            rewrite ^/bad-dope-alert-10-die-of-drug-overdoses-in-one-day-in-florida/?$ https://$host/blog/bad-dope-alert-10-die-of-drug-overdoses-in-one-day-in-florida/ permanent;
            rewrite ^/being-a-good-friend-how-to-support-someone-in-addiction-treatment-and-recovery/?$ https://$host/blog/being-a-good-friend-how-to-support-someone-in-addiction-treatment-and-recovery/ permanent;
            rewrite ^/addiction-my-loneliness-disease/?$ https://$host/blog/addiction-my-loneliness-disease/ permanent;
            rewrite ^/how-long-should-you-stay-in-addiction-treatment/?$ https://$host/blog/how-long-should-you-stay-in-addiction-treatment/ permanent;
            rewrite ^/fl-mom-charged-with-giving-alcohol-and-sexual-favors-to-minors/?$ https://$host/blog/fl-mom-charged-with-giving-alcohol-and-sexual-favors-to-minors/ permanent;
            rewrite ^/treatment-instead-of-prison-how-florida-is-becoming-part-of-the-solution/?$ https://$host/blog/treatment-instead-of-prison-how-florida-is-becoming-part-of-the-solution/ permanent;
            rewrite ^/are-drug-dealers-murderers-proposed-florida-law-says-yes/?$ https://$host/blog/are-drug-dealers-murderers-proposed-florida-law-says-yes/ permanent;
            rewrite ^/top-5-jobs-to-avoid-in-addiction-treatment-and-recovery/?$ https://$host/blog/top-5-jobs-to-avoid-in-addiction-treatment-and-recovery/ permanent;
            rewrite ^/managing-grief-in-recovery-onepulse/?$ https://$host/blog/managing-grief-in-recovery-onepulse/ permanent;
            rewrite ^/self-medication-and-substance-use-disorders/?$ https://$host/blog/self-medication-and-substance-use-disorders/ permanent;
            rewrite ^/president-obama-commuted-the-sentence-of-17-more-floridians/?$ https://$host/blog/president-obama-commuted-the-sentence-of-17-more-floridians/ permanent;
            rewrite ^/heiress-donates-to-fight-medical-marijuana-in-florida/?$ https://$host/blog/heiress-donates-to-fight-medical-marijuana-in-florida/ permanent;
            rewrite ^/10-research-based-ways-to-feel-happier-in-recovery/?$ https://$host/blog/10-research-based-ways-to-feel-happier-in-recovery/ permanent;
            rewrite ^/3-things-that-may-help-to-beat-opiate-addiction/?$ https://$host/blog/3-things-that-may-help-to-beat-opiate-addiction/ permanent;
            rewrite ^/new-florida-law-creates-minimum-legal-age-for-purchasing-cough-syrup/?$ https://$host/blog/new-florida-law-creates-minimum-legal-age-for-purchasing-cough-syrup/ permanent;
            rewrite ^/war-drugs-statistics/?$ https://$host/blog/war-drugs-statistics/ permanent;
            rewrite ^/is-marijuana-a-gateway-drug/?$ https://$host/blog/is-marijuana-a-gateway-drug/ permanent;
            rewrite ^/9-things-marijuana-addiction/?$ https://$host/blog/9-things-marijuana-addiction/ permanent;
            rewrite ^/colorado-ground-zero-marijuana-addiction/?$ https://$host/blog/colorado-ground-zero-marijuana-addiction/ permanent;
            rewrite ^/what-happens-when-drug-treatment-is-interrupted/?$ https://$host/blog/what-happens-when-drug-treatment-is-interrupted/ permanent;
            rewrite ^/what-to-do-with-your-pets-during-drug-rehab/?$ https://$host/blog/what-to-do-with-your-pets-during-drug-rehab/ permanent;
            rewrite ^/drug-addicts-look-like-junkies/?$ https://$host/blog/drug-addicts-look-like-junkies/ permanent;
            rewrite ^/heroin-addiction-epidemic/?$ https://$host/blog/heroin-addiction-epidemic/ permanent;
            rewrite ^/sports-energy-drinks-new-type-gateway-drug/?$ https://$host/blog/sports-energy-drinks-new-type-gateway-drug/ permanent;
            rewrite ^/alcoholism-and-sports/?$ https://$host/blog/alcoholism-and-sports/ permanent;
            rewrite ^/drug-abuse-and-employee-morality-clauses/?$ https://$host/blog/drug-abuse-and-employee-morality-clauses/ permanent;
            rewrite ^/studying-drug-detox-massachusetts/?$ https://$host/blog/studying-drug-detox-massachusetts/ permanent;
            rewrite ^/fall-in-love-with-recovery/?$ https://$host/blog/fall-in-love-with-recovery/ permanent;
            rewrite ^/leaving-recovery-first-residential-treatment/?$ https://$host/blog/leaving-recovery-first-residential-treatment/ permanent;
            rewrite ^/understanding-drug-addiction-and-denial-management/?$ https://$host/blog/understanding-drug-addiction-and-denial-management/ permanent;
            rewrite ^/recovery-first-testimonial/?$ https://$host/blog/recovery-first-testimonial/ permanent;
            rewrite ^/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/?$ https://$host/blog/first-ever-post-acute-withdrawal-survey-published-with-troubling-results/ permanent;
            rewrite ^/parents-are-losing-their-kids-over-marijuana/?$ https://$host/blog/parents-are-losing-their-kids-over-marijuana/ permanent;
            rewrite ^/world-history-of-drug-use/?$ https://$host/blog/world-history-of-drug-use/ permanent;
            rewrite ^/how-proposed-gun-control-will-affect-people-in-recovery/?$ https://$host/blog/how-proposed-gun-control-will-affect-people-in-recovery/ permanent;
            rewrite ^/how-pot-brownies-can-ruin-your-life/?$ https://$host/blog/how-pot-brownies-can-ruin-your-life/ permanent;
            rewrite ^/the-big-list-of-addiction-recovery-movies/?$ https://$host/blog/the-big-list-of-addiction-recovery-movies/ permanent;
            rewrite ^/kratom-a-new-old-way-to-get-high/?$ https://$host/blog/kratom-a-new-old-way-to-get-high/ permanent;
            rewrite ^/soaking-tampons-in-vodka-the-facts/?$ https://$host/blog/soaking-tampons-in-vodka-the-facts/ permanent;
            rewrite ^/the-7-types-of-symptoms-of-protracted-withdrawal/?$ https://$host/blog/the-7-types-of-symptoms-of-protracted-withdrawal/ permanent;
            rewrite ^/cardinal-rules-of-drug-rehab-centers/?$ https://$host/blog/cardinal-rules-of-drug-rehab-centers/ permanent;
            rewrite ^/you-could-be-liable-for-your-friends-drug-related-death/?$ https://$host/blog/you-could-be-liable-for-your-friends-drug-related-death/ permanent;
            rewrite ^/understanding-neurotransmitters-and-substance-abuse/?$ https://$host/blog/understanding-neurotransmitters-and-substance-abuse/ permanent;
            rewrite ^/drug-tolerance-the-7-clinical-types/?$ https://$host/blog/drug-tolerance-the-7-clinical-types/ permanent;
